[2021-12-12 21:03] chaoran-chen opened #366 "Landing page"
Our current landing page is mostly just empty.

![image](https://user-images.githubusercontent.com/18666552/145729378-42ab6b53-0f85-456a-bab1-27547ff65c9d.png)

Isn't that quite a waste of space? Instead, we could use the space to give the user a better overview and make the search bar easier to find. Here is a quick sketch:

![image](https://user-images.githubusercontent.com/18666552/145729448-e3

[2021-12-12 21:18] chaoran-chen opened #367 "Layout restructuring: move search bar and simplify ExplorePage"
Here's an idea for a small restructuring. The search bar is on the right side. If we implement #366, the sequencing intensity plot is already on the landing page and does not need to appear on the ExploreFocusSplit-view. This allows us to make the left area narrower.

![image](https://user-images.githubusercontent.com/18666552/145729839-c9dcf038-04df-4656-bcda-71e5b3eccc03.png)

[2021-12-12 21:25] chaoran-chen commented on #275
I'm discarding the idea in favor of #367.

[2021-12-12 21:25] #275 closed, assigned to nobody

[2021-12-13 08:21] ningxie1991 commented on #367
I like this layout!

[2021-12-13 08:52] chaoran-chen opened #368 ""Show anyways"-button for relative growth advantage plot"
We currently hide the "relative growth advantage" plot if the confidence interval is wider than 1. A button with the label "I understand the danger and want to see the plot anyways" should be added. When clicked, the plot should be shown again.

[2021-12-13 11:02] #368 closed, assigned to chaoran-chen

[2021-12-13 13:28] spacephoton commented on #366
good idea

On Sun, Dec 12, 2021 at 10:03 PM Chaoran Chen ***@***.***>
wrote:

[2021-12-13 13:53] spacephoton commented on #366
Think it needs some kind of one sentence pitch. For example 'Analyze covid variants... ' , any ideas @chaoran-chen @ningxie1991 ?

[2021-12-14 07:32] spacephoton commented on #318
What do you think of us saving this by default in the browser storage, and then redirecting to the corresponding time frame by default? If no cache, then we redirect to all time as usual. @chaoran-chen

[2021-12-14 07:33] spacephoton commented on #365
This is a good idea. I noticed it for the story as well, page titles always the same. They're quite easy to set with react router actually.

[2021-12-14 12:57] #366 closed, assigned to spacephoton

[2021-12-15 08:47] chaoran-chen opened #371 "Logo redirect"
I think that the logo should not redirect to the root anymore but to the landing page of the currently selected country.

[2021-12-15 14:30] chaoran-chen opened #372 "Update to tailwindcss v3"
Tailwind CSS v3 is out. It looks pretty cool.

https://tailwindcss.com/blog/tailwindcss-v3

[2021-12-15 14:41] chaoran-chen commented on #367
Actually, we can even abandon the two-sided layout, no need for two scroll bars anymore.

![image](https://user-images.githubusercontent.com/18666552/146208589-b45f3364-11e4-40e7-8c9d-f56c91e70e15.png)

[2021-12-16 17:01] chaoran-chen commented on #333
@corneliusroemer, some requests are certainly (still) slow, but have you observed some extreme cases like 7+ min recently?

[2021-12-16 17:03] chaoran-chen commented on #307
@TKGZ, that's finished with #313, right? Or is there still something that you would like to do?

[2021-12-16 17:08] #307 closed, assigned to spacephoton

[2021-12-16 20:31] ningxie1991 commented on #309
Example url with comparison:
https://outbreak.info/compare-lineages?pango=Delta&pango=Omicron&pango=Alpha&pango=Beta&pango=Gamma&gene=ORF1a&gene=ORF1b&gene=S&threshold=75&nthresh=1&sub=false&dark=true

[2021-12-17 08:43] ningxie1991 commented on #309
@chaoran-chen I added my research and conclusion for the explore url and data needed for the multiple variants selection in the description of this issue. After some thought, I think we should keep the left explore panel as they are, because adding additional search input boxes just for adding more variants doesn't look good to me. We can simply just have an "Add" button to add the selected varian

[2021-12-17 08:51] ningxie1991 commented on #367
Agreed. I was about to suggest the same that we should not have two scroll bars.

[2021-12-17 13:39] ningxie1991 commented on #309
- [x] Prettify the url: variants?pangoLineage0=B.1.1.7&aaMutations1=S:501Y&pangoLineage1=B.1.351
- [ ] Add a hook for parallel queries
- [x] Move search bar to the Focus page and have compare mode + single mode
- [x] Compare mode: Add button to add variant to a list in focus page
- [x] Single mode: Search button to search single variant

[2021-12-18 13:05] spacephoton commented on #367
What about keeping it horizontal by default?

[2021-12-22 10:03] ningxie1991 commented on #367
And what about moving the date range picker up from the variant header to where the search bar is?

[2021-12-22 11:28] chaoran-chen commented on #367
Sure, sounds good!

[2021-12-31 20:27] #335 closed, assigned to chaoran-chen

[2022-01-01 14:52] #367 closed, assigned to nobody

[2022-01-01 17:55] corneliusroemer opened #376 "BUG: International comparison chart cut off by footer"
International comparison chart seems to be cut off by footer, on Brave and Firefox (macOS 12.1)

![image](https://user-images.githubusercontent.com/25161793/147857033-38e7e26f-7fbd-43fe-addb-edd3ca98d4bf.png)

https://cov-spectrum.org/explore/Germany/AllSamples/Past6M/variants/international-comparison?pangoLineage=BA.2

[2022-01-01 18:00] corneliusroemer opened #377 "Date filter field should potentially be wider (at least for Brave)"
The dates don't fit into the box provided, at least for me on Brave browser, on Firefox it looks fine.

![image](https://user-images.githubusercontent.com/25161793/147857068-54b5d6c9-066a-401b-9517-f9e858151a33.png)

[2022-01-01 19:06] #376 closed, assigned to chaoran-chen

[2022-01-01 19:07] chaoran-chen commented on #376
Thanks very much for reporting the bug! It should be fixed. (Deployment within 10 minutes)

[2022-01-01 20:54] corneliusroemer commented on #376
Thanks for the quick fix 😊

[2022-01-01 20:56] corneliusroemer commented on #376
I think there's still a bit of a problem, this is on mobile brave
![Screenshot_20220101-215509~2.jpg](https://user-images.githubusercontent.com/25161793/147860037-5e7dd192-4762-422b-b71b-d119efc8d722.jpg)

[2022-01-01 21:01] #371 closed, assigned to chaoran-chen

[2022-01-04 21:49] chaoran-chen commented on #309
Hi @ningxie1991, thank you very much for the work that you have done on this topic! As you are leaving our team, I will take over the task :)

[2022-01-05 08:33] ningxie1991 commented on #309
@chaoran-chen , most of the ideas are in the #373 pull request for your reference. Thank you!
Preview: https://cov-spectrum-develop-e92lvok8f-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M/variants?pangoLineage=B.1.1.529*

[2022-01-07 10:04] chaoran-chen opened #378 "Show absolute number of sequences over time"
It should also be possible to see the absolute number of sequences over time. We could add a button to switch. This should impact both the line and the bar chart.

![image](https://user-images.githubusercontent.com/18666552/148527654-81821a00-3d09-4876-aaff-577b3f381706.png)

[2022-01-07 12:04] chaoran-chen opened #379 "Total sequences is cut off"
The total number of sequences is cut off for large lineages. E.g. https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?pangoLineage=B.1.617.2*

We should allow Metric to take more width. (I'd like to continue showing the exact number of sequences.)

![image](https://user-images.githubusercontent.com/18666552/148541657-91e4349e-db9a-4e9e-9d3f-191fc0bbac4a.png)

[2022-01-08 13:22] chaoran-chen commented on #300
With the recent updates, LAPIS is now much more memory-efficient.

[2022-01-08 13:22] #300 closed, assigned to nobody

[2022-01-08 15:49] #298 closed, assigned to nobody

[2022-01-08 15:49] #299 closed, assigned to nobody

[2022-01-08 15:49] #332 closed, assigned to chaoran-chen

[2022-01-09 17:30] chaoran-chen commented on #358
This is obsolete after #367.

[2022-01-09 17:30] #358 closed, assigned to nobody

[2022-01-09 17:31] chaoran-chen commented on #333
The performance issues should have been solved by #380.

[2022-01-09 17:31] #333 closed, assigned to nobody

[2022-01-09 17:37] chaoran-chen commented on #252
I think that these issues have been resolved by now. If not, please re-open :)

[2022-01-09 17:37] #252 closed, assigned to nobody

[2022-01-09 22:15] FedeGueli commented on #252
Yes thx sorry i didnt close b4. Great work

[2022-01-09 22:58] FedeGueli opened #381 "Insertions is still impossible to search for them?"
Hi thank you for your great tool.
 I am looking for sequences with an insertion, but it seems to me i cannot do that . is this still true?

Federico

[2022-01-10 22:39] chaoran-chen commented on #381
Hi @FedeGueli. No, unfortunately, it is still not possible to search for insertions. But thanks for reminding me of the topic, I should really start tackling it!

[2022-01-11 13:43] zach-hensel opened #383 "Filter by number of mutations from Wu-Hu-1 (feature request)"
Future VOCs can sometimes be spotted by examining recent sequences not classified as current VOCs, but filtering for this on covSpectrum returns mainly outlier sequences. For example, "!B.1.1.529* & !B.1.617.2*" since 15/December returns many misclassified Delta sequences per frequent mutations (e.g. ORF1a:T3646A). Additionally filtering out T3646A and examining the first three things in the seque

[2022-01-11 14:20] #175 closed, assigned to chaoran-chen

[2022-01-11 14:20] #309 closed, assigned to chaoran-chen

[2022-01-11 15:32] corneliusroemer commented on #383
I'm not quite sure I understand.

What would you like to filter? Get rid of outliers? By which metric?

One thing we use within Nextstrain is clock deviation which is calculated as the expected number of mutations based on collection date and the actual divergence compared to Wuhan.

[2022-01-11 16:05] zach-hensel commented on #383
Exactly something like that perhaps just as a percentile of what's expected on a collection date so that you can use the same advanced search logic in a way that would be intuitive to filter out or look for sequences above/below the Nth percentile of divergence.

[2022-01-11 16:15] corneliusroemer opened #384 "Bug: Hitting enter instead of click search on new variant comparison doesn't work"
Very cool new feature!

When entering a comparison query and hitting enter, instead of the search being submitted as for clicking the search button, I just get the basic search mask back with my input erased.

Here's some eye candy of the feature working
![image](https://user-images.githubusercontent.com/25161793/148980004-12200eaf-a8d0-4174-9aba-022013a1ace4.png)

![image](https://user-images.git

[2022-01-11 16:26] corneliusroemer opened #385 "ENH: Add CI on comparison plots"
Just brainstorming a few things that'd be nice to have and round off the feature

- Confidence Intervals for comparison line plots

[2022-01-11 16:29] corneliusroemer opened #386 "ENH: Add multi-region overview panel for comparison plots"
It'd be amazing to have that multi region overview panel for comparison plots

Like this:
![image](https://user-images.githubusercontent.com/25161793/148982229-c5655809-fc77-44e0-8107-507f0df00bdd.png)

[2022-01-11 16:31] corneliusroemer opened #387 "ENH: When line is 0% all the time, put ylim=0 at bottom rather than middle of plot"
When a plot line is at 0% for the entire time, right now  ymax=-ymin, centering 0% in the middle of the plot, which is potentially confusing/misleading.

It may be better to put the 0% line somewhat at the bottom of the plot to show it's low rather than flat in the middle which could be misunderstood as ~50% or in any case not 0.

For illustration see this plot:
![image](https://user-images.github

[2022-01-11 16:43] #384 closed, assigned to nobody

[2022-01-12 12:08] FedeGueli commented on #386
Agree ot would be of great help and it could help to disentangle the different sequencing frequence effect from.country to country

[2022-01-12 12:09] FedeGueli commented on #385
I see CIs maybe already added??

[2022-01-12 12:10] #103 closed, assigned to chaoran-chen

[2022-01-12 12:13] FedeGueli opened #389 "ENH: Adding Growth rate x day variant vs baseline lineage"
When comparing a variant to a baseline it could be nice to add the Daily Growth Rate advantage or disadvantage for the selected period and country.

[2022-01-13 14:12] FedeGueli opened #390 "Option to search for continent without a country"
I think i would be useful if in future if there will be the option to exclude countries from Continent search.
It would be of great help to trace a variant outside countries with efficient genomic surveillance.

Thx

[2022-01-13 14:52] corneliusroemer commented on #390
Yes, I can see this being useful, when you want to see spread of a variant
into surrounding countries.

Like for Alpha for example, Europe minus UK

Could be tricky to implement since countries are a simple selection at the
moment and this would require creating a query machinery for countries.

On Thu, Jan 13, 2022, 15:13 FedeGueli ***@***.***> wrote:

[2022-01-13 15:58] FedeGueli commented on #390
Yes i could imagine it id hard to implement. thx very much for thid great tool.

[2022-01-17 19:09] chaoran-chen opened #391 "Update documentation"
The documentation deserves another round of updates. I'll take care of the documentation about ...

- [ ] the page structure and which components are fetching the data
- [x] the snapshot tests

@TKGZ, could you please write a bit about ...?

- [ ]  the styling, i.e., how the CSS is structured ([`/docs/styling.md`](https://github.com/cevo-public/cov-spectrum-website/blob/develop/docs/styling.md))

[2022-01-17 19:45] spacephoton commented on #391
sure thing

[2022-01-18 14:10] #133 closed, assigned to spacephoton

[2022-01-18 14:18] chaoran-chen commented on #271
Let's not do that for now.

[2022-01-18 14:18] #271 closed, assigned to nobody

[2022-01-18 14:19] chaoran-chen commented on #301
This is not relevant anymore.

[2022-01-18 14:19] #301 closed, assigned to nobody

[2022-01-18 14:20] chaoran-chen commented on #308
We now have a comparison feature and don't need such a story for prototyping anymore.

[2022-01-18 14:20] #308 closed, assigned to spacephoton

[2022-01-18 14:22] #343 closed, assigned to nobody

[2022-01-18 14:23] #359 closed, assigned to nobody

[2022-01-18 14:24] chaoran-chen commented on #381
Closing this issue because it is redundant to #253.

[2022-01-18 14:24] #381 closed, assigned to nobody

[2022-01-19 18:42] chaoran-chen commented on #325
Just to confirm that the bug still exists and is relevant, here are two more examples where it occurred:

https://github.com/cov-lineages/pango-designation/issues/403#issuecomment-1013843451
https://github.com/cov-lineages/pango-designation/issues/402#issue-1100730038

[2022-01-24 14:40] chaoran-chen opened #392 "AA Mutation comparison table"
The aim of this issue is to help users compare the amino acid mutations of two variants. If the user selects two variants, a table with the shared and not-shared mutations should be shown.

It could look like follows:

Gene | Only <variant 1> | Both | Only <variant 2>
--- | --- | --- | ---
E | 3 | 2 | 5
S | 4 | 12 | 3
... | ... | ... | ...

The user should be able to see the mutations. E.g., we co

[2022-01-24 14:43] chaoran-chen opened #393 "AA mutation comparison: Configurable min proportion"
This is an extension to #392.

The user should be able to set the percentage in the definition of when a mutation is considered as belonging to a variant.

One idea is to show the sentence "A mutation is considered as belonging to a variant if at least XX% of the samples of the variant have the mutation.". When the user then clicks on "XX%", a small slider should pop up, allowing the user to chang

[2022-01-24 14:45] chaoran-chen opened #394 "Mutation comparison: Venn diagram"
This is a possible improvement to #392. Instead of showing a table, we could show a Venn diagram as in https://twitter.com/shay_fleishon/status/1480934070012059649.

---

The image copied from the tweet:
![image](https://user-images.githubusercontent.com/18666552/150804491-4f69cd9d-e163-4e90-8417-6e514a0c35d6.png)

---

Can we also make it work for comparisons of three variants?

[2022-01-24 16:25] corneliusroemer commented on #393
Sounds good, need to make sure that Ns are left out of the denominator since otherwise high percentages cannot be achieved (there's always some dropout, and best is to assume we don't know what was there). I think right now you calculate percentage assuming N is its own base.

[2022-01-24 16:40] chaoran-chen commented on #393
Thanks for pointing this out! It is difficult to exclude the unknowns right now, but I will print a note so that the users are aware of the issue.

[2022-01-24 16:43] #392 closed, assigned to chaoran-chen

[2022-01-24 21:30] #393 closed, assigned to chaoran-chen

[2022-01-26 10:09] #389 closed, assigned to chaoran-chen

[2022-01-26 11:16] FedeGueli commented on #389
GREATTTTTTT!!! THANK YOU!!!

[2022-01-29 11:38] FedeGueli opened #396 "Usher not working"
Since yesterday night i saw Usher is not working from the covspectrum page.

[2022-01-29 11:48] chaoran-chen commented on #396
Do you have an example? I just tried it from https://cov-spectrum.org/explore/Switzerland/AllSamples/Past6M/variants?nucMutations=T29867A%2CC3241T&pangoLineage=B.1.1.529* and it worked.

[2022-01-29 11:50] FedeGueli commented on #396
Every query i have done finished up with this:
![Schermata 2022-01-29 alle 12 49 08](https://user-images.githubusercontent.com/87669813/151659882-571e394e-a8b6-49c7-9970-0e182846bb7a.png)

[2022-01-29 12:02] chaoran-chen commented on #396
Could you please send me the genome browser link?

[2022-01-29 14:40] FedeGueli commented on #396
Now it is working again thanks

[2022-01-29 14:40] #396 closed, assigned to nobody

[2022-02-10 10:40] corneliusroemer opened #398 "Long deletion stretches at beginning of ORF1a listed by covSpectrum, but not present in sequence"
I noticed that about 5% of BA.2 have some weird deletions at the beginning of ORF1a, at least around 20 amino acids, but up to 100 in some.

When I pulled 3 random sequence names and queried the sequences from GISAID, it turns out that Nextclade doesn't call any deletions at the beginning of ORF1a at all. Not in one of the 3 sequences.

Could it be that there's a bug in the way covSpectrum determi

[2022-02-15 11:35] chaoran-chen opened #402 "Show date range to the metadata availability plot"
The metadata availability plot on the landing page should show the selected date range.

[2022-02-16 12:24] #365 closed, assigned to gautier-collab

[2022-02-16 14:38] #316 closed, assigned to gautier-collab

[2022-02-16 16:13] chaoran-chen opened #405 "Sequences over time bar chart not working"
Since #403, the bar chart version of the sequences over time widget only shows a white space:

![image](https://user-images.githubusercontent.com/18666552/154307628-cf1f71ba-1d27-4e45-8b87-1cf4650dce44.png)

This can be reproduced in the preview version: https://cov-spectrum-develop-git-bug-overflow-fix-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M/variants?pangoLineage=B.1.1.529*

[2022-02-16 17:51] chaoran-chen commented on #405
The issue also appears if you first navigate to the landing page (e.g., https://cov-spectrum-develop-git-bug-overflow-fix-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M) and then click on "Show more" of the Sequencing intensity plot.

![image](https://user-images.githubusercontent.com/18666552/154325487-5ae7e51e-0cc7-47f3-beb1-6e41e1843b79.png)

I'll revert #403 on the develop branc

[2022-02-17 16:42] chaoran-chen commented on #398
Hi @corneliusroemer, thanks for reporting this issue!

We use Nextalign to obtain the AA sequences. I.e., we run something like `./nextalign --sequences sequences.fasta --reference reference.fasta --genemap genemap.gff --genes E,M,N,ORF1a,ORF1b,ORF3a,ORF6,ORF7a,ORF7b,ORF8,ORF9b,S` and extract the AA changes from  `sequences.gene.<gene>.fasta`.

I just tried it for the four sequences that you provi

[2022-02-18 11:12] corneliusroemer commented on #398
Oh dear, yes, that's a bit of an unfortunate behaviour of Nextalign translation output.

I discovered it myself recently here: https://github.com/nextstrain/nextclade/issues/731#issuecomment-1039339677

When there are Ns at the beginnings and ends of a gene, it's output as `-` rather than `X` as one might assume.

I'll see whether we'll change that in future Nextalign/clade versions, but for now t

[2022-02-22 09:22] chaoran-chen commented on #386
Implemented in #409

[2022-02-22 09:22] #386 closed, assigned to chaoran-chen

[2022-02-22 13:04] corneliusroemer opened #410 "ENH: Clicking on "open" should just prepend "open." to URL, not delete the whole query"
When I have a query composed and click the "open" switcher, it'd be nice if the query stayed in tact. That's possible by prepending "open." to the URL as I found out. It would be nice if the "open" switcher button had the same behaviour.

I mean that
[code]
button at the top left

<img width="1189" alt="image" src="https://user-images.githubusercontent.com/25161793/155137815-88f6c7cb-b301-4ff8-9d1

[2022-02-22 13:12] corneliusroemer opened #411 "ENH: Provide Genbank fastas from query"
It'd be nice if one could download fastas corresponding to an open=Genbank query directly from covspectrum.

This would be a nice addition to the "sequence list" that provides EPI_ISLs etc but no fasta, as that's not ok under GISAID terms.

For Genbank, that's ok though. This feature could allow easy linkage with Nextclade:  a Nextclade button would simply append that download link to nextclade e.

[2022-02-22 14:32] corneliusroemer opened #412 "Maybe I broke open.cov-spectrum.org with my queries? White screen..."
https://open.cov-spectrum.org/ gives me just a white screen for more than 15min, did I break it? Lapis open also doesn't respond.

[2022-02-22 14:34] corneliusroemer commented on #412
After a minute, I get this:
<img width="2542" alt="image" src="https://user-images.githubusercontent.com/25161793/155153556-6c4fd49e-1e1a-49fd-98fe-0e4bf06764fe.png">

[2022-02-22 14:58] corneliusroemer commented on #412
I noticed it keeps saying that the sequence data was updated a minute or two ago. Could be that it's continuously getting updated and hence no time to cache? Or database is busy updating and hence can't handle queries?

[2022-02-22 15:18] chaoran-chen commented on #411
This sounds like to duplicate to #336? :)

[2022-02-22 15:20] corneliusroemer commented on #411
Oops, yes indeed :)

[2022-02-22 15:20] #411 closed, assigned to nobody

[2022-02-22 15:21] chaoran-chen commented on #412
This is strange. The server did not crash but somehow could not be reached. After a restart, it is working again.

Can you try to do whatever you did before again? Let me know if you can reproduce it!

[2022-02-22 15:21] corneliusroemer commented on #412
Now it works splendidly, and weirdly it says: `The sequence data was updated: Today at 2:07 AM` as if time was reset?

Will prod it a bit more to see whether I can reproduce. Will let you know.

[2022-02-22 15:22] corneliusroemer commented on #412
I think I know how to crash it: request https://lapis.cov-spectrum.org/open/v1/sample/fasta?genbankAccession=OM647790,OM647768,OM647353,OM647096

It seems down again after I made that request

[2022-02-22 15:32] chaoran-chen opened #413 "Correct error message if the backend is failing"
As @corneliusroemer observed in #412, the website is showing the current time as the "sequences last updated"-date if LAPIS is down. That's not good..

Instead, a proper error message should be shown if LAPIS is not working.

[2022-02-22 15:34] chaoran-chen commented on #412
Okay, a problem was that the program had too little RAM. But I don't know how it would relate to https://lapis.cov-spectrum.org/open/v1/sample/fasta?genbankAccession=OM647790,OM647768,OM647353,OM647096 as this query shouldn't need much RAM.

I increased the memory limit. Try to crash it again!

[2022-02-22 15:37] corneliusroemer commented on #412
Now it seems to work 🎉

I'll prod a bit more...

[2022-02-22 15:56] corneliusroemer commented on #412
Seems to work, will reopen if it comes back :)

[2022-02-22 15:56] #412 closed, assigned to nobody

[2022-02-28 15:48] corneliusroemer commented on #398
The bug also shows up strongly when searching for something like `S:340` as in this case. In Argentina, apparently there are a lot of N stretches in the S gene, and it falsely appears as `S:340-` etc.

<img width="2057" alt="image" src="https://user-images.githubusercontent.com/25161793/156013361-216fb62d-df5d-4135-8866-9adf2bf22828.png">

https://cov-spectrum.org/explore/Argentina/AllSamples/Past

[2022-03-01 07:22] #387 closed, assigned to gautier-collab

[2022-03-03 13:09] #379 closed, assigned to gautier-collab

[2022-03-03 13:09] #405 closed, assigned to gautier-collab

[2022-03-07 16:49] corneliusroemer opened #424 "ENH: Add date selector for `2022`, right now only `2021`, `2020` available"
I think it would make sense to have a selector for `2022` just as there's one for `2021` and `2020` in the time dropdown:

<img width="1336" alt="image" src="https://user-images.githubusercontent.com/25161793/157079462-13d436b7-5c9f-4101-9fe8-2675411d459e.png">

[2022-03-08 11:02] #424 closed, assigned to chaoran-chen

[2022-03-08 11:23] #410 closed, assigned to chaoran-chen

[2022-03-08 14:38] corneliusroemer opened #425 "ENH: Allow querying for `Unknown` lineage in advanced query"
Right now, it seems not possible to include `Unknown` lineages in advanced queries.

This would be very useful to filter out sequences that didn't pass pango QC or are otherwise of questionable quality.

For example, most sequences that are neither Delta nor Omicron right now are from Austria. Probably environmental samples that are a mix of Delta, BA.1 and BA.2 which pango rejects.

A query like

[2022-03-08 16:22] corneliusroemer commented on #336
Yes please, I just rediscovered that this feature would be amazing. Apparently I thought about it already 2 weeks ago in #411 😄

I worked around it by downloading the "sequence details" file, then extracting the Genbank IDs, joining with a comma and appending to the LAPIS URL like this https://lapis.cov-spectrum.org/open/v1/sample/fasta?genbankAccession=OV771661,OV772037 but obviously that's quite

[2022-03-08 16:27] corneliusroemer opened #426 "ENH: When selecting "compare to a baseline" query should not populate baseline but variant"
The "compare variant to a baseline" feature is amazing.

I think the UX flow could be improved if upon the click of the "compare to a baseline button" the variant that was already entered like so:
<img width="792" alt="image" src="https://user-images.githubusercontent.com/25161793/157280883-a6091471-dd7e-44ac-8faa-0ebb6fbbe221.png">
would appear not in the baseline field like this:
<img width="115

[2022-03-08 22:19] chaoran-chen commented on #425
Would `!A* & !B*` be equivalent to unknown?

[2022-03-08 22:49] corneliusroemer commented on #425
Almost, the Xs are not covered this way 😬

Also interesting, you seem to have two types of `Unknown`:
<img width="1673" alt="image" src="https://user-images.githubusercontent.com/25161793/157339013-dd763deb-19ff-44bd-bbf5-580184e2a4a5.png">

https://cov-spectrum.org/explore/World/AllSamples/AllTimes/variants?variantQuery=%21A*+%26+%21B*

[2022-03-08 23:02] corneliusroemer commented on #425
And there is yet more, `unclassifiable`

Do you know what they all are? Never seen pango report these things `Unknown` or `unclassifiable`

Are these labels applied by covSpectrum based on some rules?

[2022-03-09 10:14] chaoran-chen commented on #425
What is `unclassifiable`?

[2022-03-09 16:12] corneliusroemer commented on #425
Oh sorry I seem to have forgotten the screenshot. Here:
<img width="1646" alt="image" src="https://user-images.githubusercontent.com/25161793/157481951-c4963f94-ac95-476c-aafa-fa2b3a6e21c6.png">

Any idea where these 3 types of non-lineage come from. In particular, two types of `unknown` are puzzling. Would be good to know how they map to pango lineage calls.

[2022-03-10 10:09] #336 closed, assigned to chaoran-chen

[2022-03-10 13:03] gautier-collab commented on #378
As I'm creating the chart I'm wondering what should be the difference between the "Estimated cases" chart and the "Absolute numbers" view of the "Sequences over time" chart?

[2022-03-10 13:06] gautier-collab commented on #378
Should the "Estimated cases" plot actually be embedded inside the Sequences over time plot, visible when the "Asbolute numbers" button is triggered?

[2022-03-10 13:15] chaoran-chen commented on #378
The estimated cases are calculated by multiplying the proportions (as in sequences over time) with the confirmed case numbers (i.e., the number of positive tests).

The absolute number version of the sequences over time plot, however, should show the absolute number of sequenced genomes of a variant.

Does it make sense?

[2022-03-10 13:22] gautier-collab commented on #378
Yes, it's clear now. Thank you

[2022-03-10 13:28] chaoran-chen commented on #425
In the GISAID dataset, the pango lineage attribute can contain the values `""` and `"None"`. LAPIS was mapping `"None"` to `null` but did not consider the empty string. When the data reaches the frontend, both `null` and `""` were displayed as `Unknown`.

In the Nextstrain/GenBank dataset, the pango lineage can be `"None"` and `"unclassifiable"` - do you know the difference?

**Now**, LAPIS will m

[2022-03-10 15:17] corneliusroemer opened #428 "BUG: It should say `Pango lineage` not `pangolin lineage`"
Just a small comment on terminology:

I noticed that the website says `pangolin lineage` but the correct term should be `Pango lineage`

<img width="701" alt="image" src="https://user-images.githubusercontent.com/25161793/157692533-a84b14ab-3dea-418b-a739-c20cd7f173ad.png">

See the addendum in Nature:
<img width="858" alt="image" src="https://user-images.githubusercontent.com/25161793/157692684-1

[2022-03-10 15:32] #428 closed, assigned to chaoran-chen

[2022-03-10 21:09] corneliusroemer commented on #428
Spotted it in two more places and submitted PRs:
https://github.com/cevo-public/cov-spectrum-website/pull/430
https://github.com/cevo-public/cov-spectrum-website/pull/429

[2022-03-10 21:16] chaoran-chen commented on #428
Thanks!!

[2022-03-10 23:31] corneliusroemer opened #431 "ENH: Add Nextclade integration for open data"
The Fasta download feature is amazing.

Now it's super easy to add direct Nextclade integration.

All it takes is to URL encode the download link, make file download `false` and attach it to the following URL.

Here's an example URL:
[code]

Or clickable: https://clades.nextstrain.org/?dataset-name=sars-cov-2&input-fasta=https%3A%2F%2Flapis.cov-spectrum.org%2Fopen%2Fv1%2Fsample%2Ffasta%3Fhost%3DHo

[2022-03-11 09:44] #431 closed, assigned to chaoran-chen

[2022-03-11 09:44] chaoran-chen commented on #431
Here you go :) I set the limit to 200 sequences.

![image](https://user-images.githubusercontent.com/18666552/157842349-4a2c5730-68ea-4610-9e51-851527c4e8c8.png)

[2022-03-11 15:33] chaoran-chen opened #432 "Integrations should use actual links instead of `window.open()`"
As suggested by @corneliusroemer, it would be better to have the links to the integrations/other websites appear on the buttons. Technically, it means that we should put the links into a `<a>` instead of using `window.open().

[2022-03-13 20:10] corneliusroemer opened #433 "ENH: Show mutations rarer than 5%, too"
I think I've suggested this before but couldn't find the issue, maybe it was just a request for LAPIS but not for the website:

It would be really nice, if you showed the most common rare mutations for a given query too. Right now, only mutations with >5% share are shown. That means one misses out on interesting sub-lineages that may be growing but don't yet have a share of 5%.

One problem may be

[2022-03-13 20:21] chaoran-chen commented on #433
I think that this task can be nicely combined with #288. @gautier-collab, would you be interested to think about the design/UI?

Generally, the goal would be to re-design the mutation panel and both improve the layout and add filtering/configuration features.

[2022-03-13 20:36] FedeGueli commented on #433
Great to hear it would be wonderful to have that too!

[2022-03-13 23:29] corneliusroemer commented on #398
I don't think we'll address this soon within Nextclade, so you may want to implement the workaround mentioned above:

Sorry about that!

[2022-03-14 12:36] gautier-collab commented on #433
That makes sense. Yes, I can think about the UI of the mutation panel.

[2022-03-17 12:29] corneliusroemer opened #434 "BUG: Axis percentages are not well-chosen/formatted, e.g. ??9997% instead of 0.5,1,1.5 etc."
The y-axis tick labels are sometimes not rounded properly, this should be easy to fix and improve clarity a lot.

Right now, some of them are not legible at all. I get this for looking at the region plots:
<img width="2293" alt="image" src="https://user-images.githubusercontent.com/25161793/158808466-0fa412e8-ab5d-466a-a622-b1b06d152b3c.png">

Seems to be a floating point rounding bug. Only some o

[2022-03-19 06:45] FedeGueli commented on #426
Agree vm it would be great tonhave it that way

[2022-03-19 17:25] Jmuccigr commented on #378
So you mean that instead of the y-axis being percentage, it's number (of cases)? If so, yes, please.

[2022-03-19 17:56] chaoran-chen commented on #378
Yes, exactly!

[2022-03-21 14:50] chaoran-chen opened #436 "Epsilon should be `B.1.427* | B.1.429*`"
As someone just pointed out to me, we should label B.1.427+B.1.429 as Epsilon and not both lineages individually. The current implementation can be misleading to people who don't know that both lineages belong to Epsilon.

[2022-03-21 14:54] chaoran-chen opened #437 "Page title is "undefined" for advanced queries"
[For example this page](https://cov-spectrum.org/explore/United%20States/AllSamples/AllTimes/variants?variantQuery=B.1.427*+%7C+B.1.429*) shows "undefined - United States - covSPECTRUM" as its page title. Instead, it should write "B.1.427* | B.1.429* - United States - covSPECTRUM".

[2022-03-22 20:26] corneliusroemer commented on #378
I think number of sequences, not cases, to be totally precise, because cases could also mean estimated cases from proportion and number of cases reported by authorities.

It would also still be cool to have total number of overall sequences generated per week, like outbreak.info does. I think that comment doesn't belong here but it somewhat fits ;) There may be a previous issue for that, too.

[2022-03-23 21:32] corneliusroemer opened #439 "BUG: Advanced query does not allow `3013.` notation"
I like that it's possible to use `3014.` in normal queries to mean: 3014 unmutated.

For advanced queries, this type of notation seems not to work. Rather than getting results, it loads indefinitely.

When I replace it with explicit `T3014T` the result is there immediately.

Works:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery=BA.1*+%26+C29632T+%26+T3104T

Doesn't

[2022-03-24 12:28] chaoran-chen commented on #439
I did not add the `.` notation to the advanced queries, yet.

[2022-03-24 13:37] Jmuccigr commented on #378
Yeah, this is what I want, the estimated number of cases by sequence.

[2022-03-24 15:27] #378 closed, assigned to gautier-collab

[2022-03-24 15:47] #437 closed, assigned to chaoran-chen

[2022-03-24 18:22] corneliusroemer commented on #439
Ah alright, advanced queries are still cool :)

[2022-03-25 17:08] corneliusroemer opened #441 "BUG/ENH: Start date cannot be typed, text entry field misbehaves"
When I try to edit the string corresponding to the date range selection, the text field misbehaves making it impossible to edit the start date directly by keyboard.

It would be nice if start and end date were in two separate fields so that they could both be edited by keyboard.

With the current date picker, it's quite tedious to quickly do something like Jun 2020 to Jan 2021, because one needs t

[2022-03-25 17:13] corneliusroemer opened #442 "ENH: Add a few more preset date ranges"
I often filter for things like most recent month, most recent 12 months etc.

Right now this is a bit tedious with the date picker.

I think it could be helpful if there were more presets. They don't really cost anything, easy to add, if people don't want them they can ignore them. But they can save quite some clicking in a lot of cases.

If we were Google, we could analyse which date ranges are m

[2022-03-26 14:08] chaoran-chen opened #443 "Remove lodash"
As a small code improvement measure: the [lodash library](https://github.com/lodash/lodash) does not seem to be actively maintained anymore and as we only use it [a very few times](https://github.com/cevo-public/cov-spectrum-website/search?q=lodash), I think that we should get rid of it. The [you-dont-need repository](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_capitalize) mi

[2022-03-27 18:01] corneliusroemer opened #444 "ENH: Provide simple GISAID accession list"
Right now, information about sequences returned by a query can be downloaded.

But the format is a CSV with multiple columns.

To download sequences from GISAID, it's thus necessary to process the CSV manually to get just a list of accession IDs.

It would be nice if one could get a simple new line separated list of EPI_ISLs at the click of a button.

Ideally as plaintext in a new tab, so that one

[2022-03-27 18:16] chaoran-chen commented on #444
What you could do right now is to copy&paste the link underneath the "Sequence list [download]" button and (1) replace `contributors` by `gisaid-epi-isl`, (2) add `&orderBy=random` to the end of the link, and (3) remove `&downloadAsFile=true&dataFormat=csv`.

I'm not sure how many people would benefit from an additional (sub-)button on the website. If you can get 7 thumbs-ups to your proposal, I'l

[2022-03-28 13:30] corneliusroemer commented on #444
Thanks!
7 thumbs ups :) that's a lot!
Everyone who wants to download things from GISAID would benefit.
I'll get a few supporting comments.

Wouldn't make it a button but drop-down or so similar to how sequence download works with open data

[2022-03-28 13:42] FedeGueli opened #445 "ENH: enable a query for 'animal host 'sequences"
It would be interesting to have an option to flag a query restricting it just to non human hosted sequences.
I dont know if it is possible. But maybe it would be helpful in future.

[2022-03-28 13:45] corneliusroemer commented on #444
3 thumbs up already, that's almost a record 😅

[2022-03-28 13:49] chaoran-chen commented on #445
Thanks for the suggestion! This should be easy to implement.

[2022-03-29 08:48] chaoran-chen commented on #444
Six is good enough, I'll implement it.

[2022-03-29 13:00] corneliusroemer commented on #444
Nice, thanks! :)

[2022-03-29 17:41] corneliusroemer commented on #444
Great, this works already:
https://lapis.cov-spectrum.org/gisaid/v1/sample/gisaid-epi-isl?host=Human&region=Europe&dateFrom=2021-09-27&nucMutations=2470T%2C13195C%2CG27382C%2CA29510C%2CC26858T%2CA27383T&downloadAsFile=false&dataFormat=csv

[2022-03-29 21:50] FedeGueli commented on #445
Thx!! great to hear from you!

[2022-03-30 11:20] #433 closed, assigned to dameyerdave

[2022-03-30 14:04] corneliusroemer opened #448 "ENH: append `&` if URL ends with `.` or `*` to make links work properly"
Quite often, covSpectrum queries end in `*` or `.`, for example when querying for lineage `BA.2*`.

When one pastes the link to the query, many websites wrongly assume that the `*` or `.` is not part of the URL. This can cause scientific inaccuracy and is not great.

It would be easy to work around this limitation, by ending queries with a character that would be acceptable to websites like Twitte

[2022-04-01 14:30] #445 closed, assigned to chaoran-chen

[2022-04-02 14:13] #448 closed, assigned to chaoran-chen

[2022-04-02 14:14] chaoran-chen commented on #448
Thanks for the suggestion, @corneliusroemer! I also often noticed the problem but did not come up with this simple solution.

[2022-04-02 17:51] corneliusroemer commented on #448
Great, thanks :) Maybe it's now a somewhat untypical URL but who cares if it works 😂

[2022-04-04 16:58] corneliusroemer opened #451 "ENH: Sort region plots by share not by alphabet"
I love the "region plot" feature.

One thing about it could be improve easily: right now, when I look at new mutations from World perspective, I need to do a lot of scrolling, since only few countries have that particular mutation as significant share.

It would be nice, if it was possible to order regions from highest share to lowest share, rather than alphabetically.

Alternative ordering could

[2022-04-05 07:57] FedeGueli commented on #451
Great idea! it saves a lot of time and can compare directly the trend where a lineage is circulating

[2022-04-05 15:25] corneliusroemer opened #452 "Question: Data update intervals"
I've noticed that the interval between successive data updates is sometimes much longer than 24hr.

I was wondering at what schedule you run them right now. Is it triggered by new data from GISAID, or at 48hr?

This was 40hr ago:
<img width="977" alt="image" src="https://user-images.githubusercontent.com/25161793/161789054-53f50cb7-1842-4dc8-ae9f-c453ac5e82c8.png">

[2022-04-05 16:06] chaoran-chen commented on #452
It's usually triggered by new data. However, our cluster is offline for maintenance for two days - so no update today and tomorrow.

[2022-04-05 16:28] corneliusroemer commented on #452
Right :) Remember you mentioned it a few days ago

[2022-04-05 16:28] #452 closed, assigned to nobody

[2022-04-07 21:04] corneliusroemer opened #453 "ENH: Include targeted Jaccard similarity of mutations in comparing variant to baseline pages"
I'm increasingly using Jaccard similarity to find defining mutations for lineages. Say, if I look for a lineage with S:L452R in the US, and I want to know what other mutations co-occur: I sort by Jaccard similarity.

That's great and useful. Howevever, it would be even better if Jaccard similarity wasn't calculated with respect to ALL sequences but just with respect to a (configurable) baseline va

[2022-04-09 19:17] corneliusroemer opened #454 "CovSpectrum down: did I crash it?"
Got this screen for the past few minutes, it keeps saying it updated this minute, but the time keeps changing

<img width="1513" alt="image" src="https://user-images.githubusercontent.com/25161793/162588583-82e3d8e6-b076-476d-9131-cf84727da806.png">

Did I crash the server with too many complicated queries?

[2022-04-09 19:18] corneliusroemer commented on #454
Ok, seems to be LAPIS down
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/25161793/162588609-c588d091-7fdb-479b-86df-cfe267b2a79e.png">

[2022-04-09 19:32] chaoran-chen commented on #454
I was trying to deploy a new LAPIS version with the precise mutation proportion calculation and better performance (https://github.com/cevo-public/LAPIS/pull/47), but unfortunately, the server does not have enough RAM for it...

I reverted to the old version. It's up again.

[2022-04-09 19:32] #454 closed, assigned to nobody

[2022-04-09 21:56] corneliusroemer opened #455 "BUG: Slovakia suggested twice in country search"
<img width="265" alt="image" src="https://user-images.githubusercontent.com/25161793/162592757-0bbdc790-3c58-4554-bba8-0c90fdee8286.png">

[2022-04-10 23:52] corneliusroemer opened #456 "BUG: Website reloads every 0.5s, never goes anywhere"
There seems to be a problem with the website, it loads, and reloads all the time

https://user-images.githubusercontent.com/25161793/162645306-3de62231-04d7-4702-b44f-4d922022f198.mov

[2022-04-11 09:15] anastasia-escher commented on #191
Should it be ascending or descending order for the last three columns?

[2022-04-11 09:18] chaoran-chen commented on #191
It would be great if the user can change the order by clicking on the column name. The first click would sort the column in one way, and a second click would reverse the order.

By default, I suggest sorting them in ascending order.

[2022-04-11 09:19] chaoran-chen commented on #456
That's strange. Does the problem still persist?

[2022-04-11 09:31] chaoran-chen commented on #455
Thanks for pointing it out! Internally, there were two entries: `Slovak Republic` and `Slovakia`. I cleaned it up.

[2022-04-11 09:31] #455 closed, assigned to chaoran-chen

[2022-04-11 11:05] anastasia-escher commented on #191
Should country always be ascending (from "A" to "Z") or also switchable to descending (from "Z" to "A")?

[2022-04-11 11:07] chaoran-chen commented on #191
I'd make it also switchable to be consistent with the other columns.

[2022-04-11 12:17] anastasia-escher commented on #325
Does it only occur on the "Sequences over time" plot? And does it only occur sometimes, not always?
It looks ok on my screen:
![Screenshot 2022-04-11 at 14 15 32](https://user-images.githubusercontent.com/52914023/162737550-7e088e58-bf62-46e1-8de8-cce7e01c50b9.png)

[2022-04-11 12:30] anastasia-escher commented on #325
Does it only occur on the "Sequences over time" plot and only sometimes, not always?

[2022-04-11 13:19] anastasia-escher commented on #288
@chaoran-chen how do you find this? Do you have any preferences on how to style the section further?
<img width="1440" alt="Screenshot 2022-04-11 at 15 25 38 2" src="https://user-images.githubusercontent.com/52914023/162749369-09ef9afa-2588-4d87-a55b-88436b2483a5.png">

[2022-04-11 13:24] chaoran-chen commented on #325
I only noticed it in the "Sequences over time" plot. I think that it mostly happens when the numbers are small. And it might also depend on the window size?

[2022-04-11 13:29] anastasia-escher commented on #325
A solution could be to reduce the number of digits after the decimal point to 2 or 3. In this case it doesn't look messy. Would it be acceptable or it should be a very precise number with all of the digits after the decimal point?

[2022-04-11 13:33] chaoran-chen commented on #325
I think that's a good solution. I'd also suggest that we set the minimum of the maximum of the y-axis to something like 0.01% (do you know what I mean?).

[2022-04-11 15:48] anastasia-escher commented on #325
Or alternatively the maximum tick on the Y axis can always be the maximum value in the data?

[2022-04-11 15:55] corneliusroemer commented on #456
Not on mobile browser, will check laptop in a bit.

The big happened right when the data was updated today, around 1.46am

It could well be that this bug happens in the first few minutes after a data update?

Maybe why we haven't noticed it yet?

[2022-04-11 15:56] chaoran-chen commented on #325
But what if the maximum in the data is very small, like 0.0001%? If we round it to two digits after the decimal point, we would write 0% on every tick.

[2022-04-11 16:03] anastasia-escher commented on #325
Ok, that it can be 0.01 if the maximum in the data is less than 0.01 and otherwise the actual maximum?

[2022-04-11 16:06] chaoran-chen commented on #325
Yes, I think that would be good

[2022-04-11 18:27] corneliusroemer commented on #191
Oh yes, this feature would be amazing!

[2022-04-12 14:26] #191 closed, assigned to anastasia-escher

[2022-04-12 14:26] #288 closed, assigned to anastasia-escher

[2022-04-12 14:26] #325 closed, assigned to anastasia-escher

[2022-04-12 14:38] anastasia-escher commented on #321
The filter options should look like a nested menu, right?

[2022-04-12 14:42] chaoran-chen commented on #321
How are you imagining it?

I thought that we would just add a dropdown list where the user can select the granularity: region, country, or division.

[2022-04-12 14:50] chaoran-chen commented on #434
I think that this is a duplicate of #325 fixed by @anastasia-escher in #457.

[2022-04-12 14:50] #434 closed, assigned to nobody

[2022-04-12 14:55] chaoran-chen commented on #303
Same as #433, fixed by @dameyerdave in #440

[2022-04-12 14:55] #303 closed, assigned to nobody

[2022-04-12 15:00] chaoran-chen commented on #193
The mutation lists are now in vertical order (fixed in #457).

Because the pango lineage list does not have much vertical space, I think that it's better to keep it the way it is. @corneliusroemer, or do you have some ideas on how to improve the pango lineage list?

![image](https://user-images.githubusercontent.com/18666552/162992415-efffe36f-8104-4b52-aea4-8978938c91f7.png)

[2022-04-12 15:03] corneliusroemer commented on #193
It's ok with me - though column major would probably be more consistent.

[2022-04-12 15:07] #193 closed, assigned to nobody

[2022-04-13 07:15] anastasia-escher commented on #321
I thought of something like this
![menu](https://user-images.githubusercontent.com/52914023/163120779-ca6030a5-703b-4b85-adbe-5f6698cf5036.png)

[2022-04-13 08:04] chaoran-chen commented on #321
Interesting. And what happens if the user selects e.g. Europe? Does it then show only divisions in Europe?

[2022-04-13 08:12] anastasia-escher commented on #321
Yes, it will show only divisions in Europe (I don't know though if the data is suitable for such a menu, haven't seen it yet in detail). Or would you prefer simply to add a dropdown for granularity?

[2022-04-13 10:40] chaoran-chen commented on #321
I'm not sure what the initial intent of @rkdover is, but I think that if someone is interested in a particular country/region, they can go to the specific country/region page. A granularity selector would be more interesting in my opinion. If someone is on the "world" page, the selection options would then be region, country, and division. On a region page, it would only be country and division. A

[2022-04-13 10:45] anastasia-escher commented on #321
Ok!

[2022-04-13 11:13] anastasia-escher commented on #321
Sorry, another question. The default selected country is Switzerland. So, which options should be displayed when a user clicks on the select field for the first time? All of them - world, region, country, division - or only world?

[2022-04-13 12:14] corneliusroemer commented on #456
Same thing again now, on mobile.
Maybe there's just new data in? 😅

[2022-04-13 13:03] chaoran-chen commented on #321
Ah, looking at #458, I finally understand the misunderstanding! This is not about the overall country selection in the top bar, but about the "Geographic distribution" table (see screenshot above) that appears on pages that do not have a map. Examples:

- Sweden: https://cov-spectrum.org/explore/Sweden/AllSamples/Past6M/variants?pangoLineage=B.1.1.529*&
- World: https://cov-spectrum.org/explore/Wo

[2022-04-13 13:09] anastasia-escher commented on #321
ah, ok, now it is clear!
Would you like to leave the dropdown selection also in the top bar or delete it? It looked a bit unstructured without it.

[2022-04-13 13:12] chaoran-chen commented on #321
I don't really understand the purpose of the dropdown in the top bar. Does it do something different than the search field?

[2022-04-13 13:14] chaoran-chen commented on #321
Ah, now I see! I don't think that we need the filter for the search options in the top bar.

[2022-04-13 13:15] anastasia-escher commented on #321
Ok!

[2022-04-13 13:22] chaoran-chen opened #459 "Improve country selection"
From the discussion in #321, I agree with @anastasia-escher that the current country selection in the top bar looks a bit unstructured. Maybe we can do something like this? We can then also add flags next to the country names.

![image](https://user-images.githubusercontent.com/18666552/163189633-13560595-fbdb-46f2-a198-b7f1b19c269b.png)

[2022-04-13 13:25] chaoran-chen commented on #456
Yes, new data indeed came in just before that. Strange, I'll have to try to reproduce it at some point.

[2022-04-13 13:26] chaoran-chen commented on #456
The correct behavior is that, after new data arrives, the first time the web page fetches data, it will reload **one time**.

[2022-04-13 13:27] anastasia-escher commented on #459
You can assign this to me as well.

[2022-04-13 13:27] chaoran-chen commented on #459
Sure, thanks!

[2022-04-13 15:36] corneliusroemer commented on #456
Aha, yes, new data! perfect :) so we have nailed the bug down

[2022-04-13 15:53] chaoran-chen commented on #394
This looks useful: https://upset.app/ (thanks @lenaschimmel for sharing the link)

[2022-04-13 15:57] corneliusroemer opened #460 "ENH: Improve UX of mutation threshold selectors"
I love the mutation threshold. Unfortunately, the UX is a bit cumbersome.

<img width="888" alt="image" src="https://user-images.githubusercontent.com/25161793/163221435-7441ae93-f31a-411f-b4bc-02b52370ec33.png">

It would be cool if selections were remembered across different queries, say in a cookie or URL parameter or both

Another improvement would be if there were dropdowns to quickly select

[2022-04-13 16:00] corneliusroemer commented on #394
Also, if I may suggest, even more interesting than counts would be the actual mutations

Relevant would be a three way comparison, too. Two way is done pretty well by outbreak.info already

<img width="1555" alt="image" src="https://user-images.githubusercontent.com/25161793/163222105-b5c9273e-2cf1-4a83-b895-f55a87c07a26.png">

https://outbreak.info/compare-lineages?pango=Omicron&pango=Delta&pango

[2022-04-13 16:02] chaoran-chen opened #461 "Add pagination to mutation list"
The mutation list can get very long if we specify a very low min. proportion. So it might make sense to introduce pagination.

Also about the mutation list: #460

[2022-04-13 16:05] chaoran-chen commented on #394
Sure. Placing the mutations labels into the Venn diagrams nicely is probably a bit challenging, but it would be really cool.

[2022-04-13 16:08] chaoran-chen commented on #394
Nice! - https://twitter.com/caco3cz/status/1502211656037900290?s=21&t=pyCrYilFxZ-g6AB_F2NW_g

[2022-04-13 16:09] corneliusroemer commented on #461
Not so sure this would be am improvement. It's quite nice to have it all in
one place. Why not just scroll?

On Wed, Apr 13, 2022, 18:02 Chaoran Chen ***@***.***> wrote:

[2022-04-13 16:18] chaoran-chen commented on #461
It might crash the browser or at least get it stuck for a long time.

Maybe pagination will be used by default but the user can choose the number of items per page? And "show all" would be one of the options.

[2022-04-13 16:56] corneliusroemer commented on #461
Fair! One thing I'm wondering, you seem to load _all_ mutations from 0.0% onwards even if that's not selected. You could maybe relieve the server of some pressure by requesting first only what the user asks for, then re-request if that number is changed?

Might work well together with #460

[2022-04-13 18:56] chaoran-chen commented on #461
It doesn't make much of a difference for the server. Independent of the min proportion, it has to count every mutation in the selected set of sequences. The proportion filtering is just the final step and a small "service" for the user of the API.

And due to caching reasons, it's actually better if the same requests are made often.

[2022-04-13 21:11] corneliusroemer commented on #461
Oh right, ok - makes sense that it works like this!

[2022-04-14 07:52] anastasia-escher commented on #321
Another question, just to make sure that i get it right now. So, for example, if a user is on the "world" page and has selected "regions" in the dropdown at the table, the table should show number of sequences and prevalence pro region? And the same with countries?

[2022-04-14 08:03] chaoran-chen commented on #321
Yes, this sounds correct!

So, for the implementation, you might need to extend [this](https://github.com/cevo-public/cov-spectrum-website/blob/develop/src/pages/FocusSinglePage.tsx#L94) and [this](https://github.com/cevo-public/cov-spectrum-website/blob/230c72757f71dabbfd66fceb405fad609cecdb75/src/pages/FocusSinglePage.tsx#L358) to also fetch region- and country-stratified data. (If it makes thin

[2022-04-14 08:31] anastasia-escher commented on #321
But I could also calculate it directly in the table component (VariantDivisionDistributionChart)? Just add a function there.

[2022-04-14 08:43] chaoran-chen commented on #321
Sure, that's also possible.

[2022-04-14 08:45] chaoran-chen commented on #321
Wait.. What do you mean with calculate? In the current architecture, we are avoiding any data fetching in the `...Chart` components. They are supposed to be "pure", i.e., they can do calculations but should only depend on the data that they receive as input.

[2022-04-14 08:46] anastasia-escher commented on #321
Yes, I see that now as well.

[2022-04-14 12:15] anastasia-escher commented on #321
An alternative to a dropdown with granularity options  would be to include in the table fields "country" and "region" and make it filterable by these two parameters.

[2022-04-14 13:10] corneliusroemer opened #462 "ENH: Optional logit scale for share plots"
It would be great if covSPECTRUM had an optional logit scale button for share plots.

It would make comparisons like these useful. Right now there's not much to be seen.

With logit axis, it'd be super useful.

Slope as growth advantage ;)

I think this should be doable and would be a huge benefit!

![Screenshot_20220414-150719.jpg](https://user-images.githubusercontent.com/25161793/163397470-5ed5

[2022-04-14 13:45] chaoran-chen commented on #321
Interesting. Could we then make it somehow collapsable so that it is easy also to see only the sum for the regions or countries?

[2022-04-14 14:43] KarelBerka commented on #462
that would be a great improvement as it is useful for detecting rising slopes even in small numbers (as was visible in absolute numbers for Czech cases over all summer, while the total numbers kept the public completely unaware of the autumn Delta spree).

[2022-04-14 15:43] anastasia-escher commented on #321
For now I have only added the dropdown, please check if it is what you meant.

[2022-04-17 03:23] corneliusroemer opened #463 "BUG: Growth advantage fails to load if ORF9b used in query"
I've noticed that if I use an ORF9b mutation in the comparison view, the growth advantage fails to load and I also can't use the "Region" view. Seems to be a bug.

<img width="1670" alt="image" src="https://user-images.githubusercontent.com/25161793/163698904-a92444c2-d131-4038-86d9-e52c70af39e9.png">

https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?pangoLineage=BA.2.9&aaMutation

[2022-04-18 22:33] chaoran-chen commented on #456
Ah, I found out the reason for the bug. It's indeed directly linked to the arrival of new data. It's unfortunately not very trivial to fix the problem. As of now, for around 20 minutes after receiving new data, the website will not work very well.

[2022-04-18 22:35] chaoran-chen commented on #463
Thanks for reporting! I identified the problem and fixed it in https://github.com/cevo-public/LAPIS/commit/6e5ff6520e319ad6a984a73b371c35079a03a2fe.

I did not deploy the new version yet and will do it at some point tomorrow.

[2022-04-19 06:02] corneliusroemer opened #464 "Make units of growth advantage explicit"
There's been confusion about the time interval for which growth advantages are quoted in publications and news.

Two different sets of units/time periods are used currently on covSPECTRUM: per gen time (implicit, unstated) and per day.

It would be best to make all units explicit and visible.

Also, generation time is an inaccurately determined and changing time, so I think it's best to phase it o

[2022-04-19 12:39] corneliusroemer commented on #456
At

[2022-04-19 12:40] corneliusroemer commented on #456
At least we know what it is and that it'll fix itself after 20min :)

[2022-04-20 04:13] corneliusroemer opened #466 "ENH: Checkbox to toggle deletion visibility in mutation view"
Due to artefacts and the Nextclade trailing deletion issue, when trying to find mutations arising, that are present at between 0.1-5%, the overwhelming number if mutations displayed are deletions.

Now deletions are actually the only thing I'm usually not interested in, since they are much less informative (due to artifacts and lack of uniqueness even if genuine).

So it would be great if it was p

[2022-04-20 10:14] chaoran-chen commented on #466
Thanks! This sounds like a quick solution until we decided on #398.

[2022-04-20 12:26] corneliusroemer opened #467 "Update editor's choice lineages"
It's convenient to have lineages thought to be growing in the editor's choice section.

Alpha, Beta, Gamma, B.1.1.529* can be removed.

I'd add: BA.2.12.1, plus maybe BA.2* + S:452 since there are a lot of 452 lineages that could be interesting as a whole overall.

[2022-04-20 12:32] corneliusroemer opened #468 "ENH: Persistent user settings through cookies"
Whenever I create queries, I tend to have to change a number of settings manually, mostly the same things.

It would be nice if such things were remembered through cookies, like "country", "time period", "mutation thresholds", "sorting direction of lineages in international view"

One could potentially also allow "favouriting" of certain queries so they are remembered and can easily be reselected

[2022-04-20 13:11] corneliusroemer commented on #466
Yes exactly, and even after, it could be useful - there are sometimes quite common internal deletions, that I may want to hide even if #398 wasn't an issue.

[2022-04-20 13:43] anastasia-escher commented on #204
Could you please explain in a bit more detail what should be done here?

[2022-04-20 13:48] chaoran-chen commented on #467
May I invite you to be an editor for CoV-Spectrum? ;)

You can change the pre-defined lists by editing https://github.com/cevo-public/cov-spectrum-website/blob/develop/src/components/KnownVariantsList/variantLists.json. Feel free to also update other lists and add/remove lists!

[2022-04-20 13:50] chaoran-chen commented on #468
I added it to #341.

[2022-04-20 14:11] #467 closed, assigned to nobody

[2022-04-21 10:10] chaoran-chen commented on #463
It's fixed now.

[2022-04-21 10:10] #463 closed, assigned to chaoran-chen

[2022-04-21 10:15] chaoran-chen commented on #321
Closed in #458

[2022-04-21 10:15] #321 closed, assigned to anastasia-escher

[2022-04-21 10:25] chaoran-chen commented on #204
Good question. I'll think about it and come back to you in a few days.

[2022-04-21 14:24] #459 closed, assigned to anastasia-escher

[2022-04-21 19:49] Jmuccigr commented on #456
This is definitely persisting for a lot more than 20 minutes at a time.

[2022-04-23 18:03] FedeGueli commented on #464
Agree with Cornelius. As we have used the implicit gen time one for months i think it would be wise to have the choice between old way and new one per week.

[2022-04-23 19:29] FedeGueli opened #471 "Links don't keep country/continent selection"
From the last update i am noticing that links to a query in a determinated country or area don't keep the selection for a choosen country and instead they link to default "switzerland" page.

it could be a big issue for pango proposals forcing the pango team to reconstruct what that link means.
it is the same for comparison btw variants pages. and it is true for old links too

So this could influe

[2022-04-23 20:26] chaoran-chen commented on #471
Oh, that's indeed a very troublesome bug! Thanks for reporting it. I rolled back the update.

[2022-04-24 12:48] FedeGueli commented on #471
thx!

[2022-04-24 13:12] corneliusroemer opened #472 "ENH: Allow selection of sub-country divisions for big countries"
Divisions of big countries are often bigger than most countries (e.g. California is bigger than most European countries).

It would be nice if divisions in a few big countries could be selected just like countries.

For example states in the US, Germany, nations in the UK.

I'm not sure whether this would increase computation requirements to prepopulate the database. If that's the case, one could

[2022-04-26 11:44] corneliusroemer opened #475 "ENH: Include synonymous nucleotide mutations in variant comparison"
This variant comparison table is really useful:
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/25161793/165292744-2caaa0dd-fdd6-4709-baae-645cdeee82e2.png">

One thing missing from it is nucleotide changes not associated with amino acid mutations. It would be great if these could be added.

[2022-04-27 13:56] corneliusroemer opened #476 "BUG: Open data loading since 4:15pm (already >40min)"
Open covSpectrum seems to have some problem, it's been loading since at least 4:15pm. I'm not sure whether that's expected/normal for open data.

<img width="2203" alt="image" src="https://user-images.githubusercontent.com/25161793/165535208-ef06c569-1040-43fb-b5fd-12b0020c399a.png">

[2022-04-27 17:44] chaoran-chen commented on #476
Thanks for reporting! There was a bug which has now been fixed.

[2022-04-27 17:44] #476 closed, assigned to chaoran-chen

[2022-04-28 09:23] #471 closed, assigned to anastasia-escher

[2022-05-01 21:58] chaoran-chen opened #478 "Reduce code redundancy in SvgVennDiagrams"
There are still a lot of code redundancies in the three `SvgVennDiagram`s that should be removed.

[2022-05-01 22:00] #394 closed, assigned to anastasia-escher

[2022-05-01 22:13] chaoran-chen opened #479 "Venn diagrams for nucleotide mutations"
The same as #474 and #394, but for nucleotide mutations instead of amino acid changes.

See also #478.

[2022-05-01 22:22] chaoran-chen opened #480 "Venn diagrams: Improve variant label positioning/display"
Especially for the 4-sets Venn diagram, a slightly longer variant label is already overlaying the plot.

![image](https://user-images.githubusercontent.com/18666552/166166890-6e84b4de-2458-4e0a-ac78-ced5adf7bf0b.png)

https://cov-spectrum.org/explore/Switzerland/AllSamples/Past6M/variants?pangoLineage=BA.2*&pangoLineage1=BA.1*&nucMutations2=123A%2C234T&pangoLineage2=BA.4*&pangoLineage3=BA.3*&analy

[2022-05-02 12:47] anastasia-escher commented on #466
Hi @corneliusroemer , is it what you meant? #482

[2022-05-02 13:23] corneliusroemer opened #483 "BUG: Venn diagram shows wrong label for query, no shared mutations"
On this query, the Venn diagram seems wrong in two ways:
https://cov-spectrum.org/explore/North%20America/AllSamples/Past6M/variants?aaMutations=S%3A452Q%2CS%3A704L&nucMutations=21721C&aaMutations1=S%3A452Q%2CS%3A704L&nucMutations1=21721T&analysisMode=CompareEquals&

1. The right label does not represent the actual query:
<img width="2160" alt="image" src="https://user-images.githubusercontent.com

[2022-05-02 14:19] corneliusroemer opened #484 "BUG: Portugal missing from `Geographic distribution` table"
I don't understand why Portugal is missing from this table.

They clearly have BA.2* + S:452R, more than most countries in Europe.

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/25161793/166249657-2a594fa8-412d-4588-a1e7-ba4677052089.png">

See here:
<img width="2544" alt="image" src="https://user-images.githubusercontent.com/25161793/166249718-e39bdc96-5779-4cd8-8b1

[2022-05-02 15:22] Sinickle commented on #483
For what it's worth, after a bit of playing around with it, I think I'm seeing it specifically making the mistake of swapping the mutations between "shared" and the 2nd variant in the comparison, only when you're comparing just 2 variants.

[2022-05-02 15:28] chaoran-chen commented on #483
Thanks for reporting!

Part 1) The label was being cut off. I now gave the figure more width.

Part 2) Yes, it was indeed swapping the "shared" and "only variant 2"  areas.

The fix will be deployed within the next 10 minutes.

[2022-05-02 15:28] #483 closed, assigned to nobody

[2022-05-02 16:42] corneliusroemer commented on #456
How long was it the case for you @Jmuccigr

I think sometimes if there's a bug in the data update it can load until the bug is fixed.

[2022-05-02 17:28] corneliusroemer commented on #466
Yep, totally, this is exactly it! @anastasia-escher

Super useful since there are often lots of artefactual deletions which make it difficult to spot the real mutations among masses of fake deletions.

Thanks a lot! 🎉

[2022-05-02 19:46] #444 closed, assigned to anastasia-escher

[2022-05-02 19:53] #466 closed, assigned to anastasia-escher

[2022-05-02 20:01] #442 closed, assigned to nobody

[2022-05-03 14:27] corneliusroemer opened #487 "ENH: Add growth metric to mutation table to facilitate spotting of emerging mutations"
Right now, the way I look for emerging mutations is to look for Spike mutations that are between 0.1% and 1% in the most recent period, e.g. 1 or 2 months. That way, quite a few emerging lineages were discovered quickly.

The problem with this method is that it flags too many mutations to investigate manually. It's not very specific.

To increase specificity, I propose a simple metric, to be displ

[2022-05-03 16:48] Jmuccigr commented on #456
I stopped checking, but it was well over 20 minutes.

[2022-05-03 19:47] FedeGueli commented on #487
Great idea!! i actually use the method to restrict gradually to the very last period but it is time expensive. it would be useful and trustable

[2022-05-06 11:34] KarelBerka opened #490 "BUG: identification of ORF3a:H78Y within BA.2.9 lineage in amino acid Venn diagram"
Upon preparation of a report of current lineages to Czech authorities, I have looked at the Venn diagram between the 4 most typical lineages currently present in the Czech Republic. And I have found a weird problem when I compared BA.2.9 and BA.2 lineages in the World and in Czechia.

While Czechia has 1 specific mutation for BA.2.9 - ORF3a:H78Y,...
[https://cov-spectrum.org/explore/Czechia/AllSam

[2022-05-07 13:05] chaoran-chen commented on #490
Hi @KarelBerka, thanks for creating this issue! We currently use the Pango lineage provided by GISAID and unfortunately, GISAID does not always use the most recent pangolin version and designation data. For that reason, quite a number of samples were misassigned to BA.2.9. But in the most recent data dump from GISAID, this has been resolved. Now, ORF3a:H78Y is also in 100% of the BA.2.9 samples in

[2022-05-07 13:05] #490 closed, assigned to nobody

[2022-05-08 14:59] #464 closed, assigned to chaoran-chen

[2022-05-08 15:03] chaoran-chen commented on #464
We now changed the time interval. **If you need the old value, it is still easy to get!**

Just click on the "Show more" button. On the detail page, the default generation time is still the old `4.8` and the growth advantage that is presented on the overview page is `f_d`. You might need to adapt the start and end dates on the detail page.

Screenshot 1:

![image](https://user-images.githubusercon

[2022-05-08 16:36] FedeGueli commented on #464
@chaoran-chen in the comparison to baseline tool which one will be showed? the old or the new one?

[2022-05-08 17:51] chaoran-chen commented on #464
It shows the new one.

[2022-05-08 17:59] chaoran-chen commented on #464
You can also transform back to the old value using the following formula:

![image](https://user-images.githubusercontent.com/18666552/167309148-5ae5dec0-6234-4a9f-9ce3-68388ec46c39.png)

[2022-05-09 14:08] corneliusroemer opened #494 "BUG: Formatting of top tick label of y-axis apparently not fixed yet"
I just noticed that the formatting of the top tick y-label seems not to be fixed yet

<img width="1152" alt="image" src="https://user-images.githubusercontent.com/25161793/167428288-7a5f1274-fe4d-4107-80e9-ed233abfaf45.png">

All the rest looks good @anastasia-escher :)

[2022-05-10 07:40] anastasia-escher commented on #494
The was not enough space for the whole tick label, so I have simply added 15 px margin to the left:
https://github.com/cevo-public/cov-spectrum-website/pull/495

[2022-05-10 12:34] corneliusroemer commented on #494
Oh, I think I didn't mean the margin but the fact that the number was formatted as `40.86` as opposed to `40`.

[2022-05-10 12:36] corneliusroemer commented on #494
For example here again `8.05`, maybe it's just in the variant to baseline comparison plot

<img width="1895" alt="image" src="https://user-images.githubusercontent.com/25161793/167629689-b5a4677a-241d-4ce9-9e52-ffb57f6a7729.png">

https://cov-spectrum.org/explore/Sweden/AllSamples/Past1M/variants?pangoLineage=BA.2*&aaMutations1=S%3A449H&pangoLineage1=BA.2*&analysisMode=CompareToBaseline&

[2022-05-10 14:15] anastasia-escher commented on #494
It takes simply the highest value in the data, do you want it to be rounded?

[2022-05-10 14:19] chaoran-chen commented on #494
I think it's alright to show up to two decimals. Of course, it would look even better if we show less if the numbers are large, but I think that's already fine.

[2022-05-10 14:34] chaoran-chen opened #496 "Auto-completion: Translate NSP and ORF1ab notation to ORF1a/b"
There are two alternative ways to specify ORF1a and ORF1b AA mutations: either by seeing ORF1ab as one single gene or distinguish between the different nsps. E.g., `ORF1b:12` is equivalent to `ORF1ab:4413` and `nsp12:21`. There is a nice tool by @theosanderson (and @zach-hensel) to do the conversion (https://codon2nucleotide.theo.io/) and its code reveals how the conversion can be done (https://gi

[2022-05-10 14:46] theosanderson opened #497 "UX tweak: changing from single variant to baseline mode"
[low priority tweak]

The baseline comparison feature is incredibly useful. A regular situation I have is that I search for a particular variant of interest, e.g. BA.2.12.1 in single variant mode. And then I want to know how that variant compares to a baseline, like BA.2. So I click "Compare variants to a baseline" but my _Baseline_ is prepopulated with BA.2.12.1, whereas ideally for me _Comparing

[2022-05-10 14:51] chaoran-chen commented on #497
Thanks for the feedback! @corneliusroemer already suggested it in #426 and it is very helpful to hear that you also see it this way.

[2022-05-10 14:52] theosanderson commented on #497
Ah apologies, I tried a quick search but didn't see that!

[2022-05-10 14:52] #497 closed, assigned to nobody

[2022-05-10 14:56] #479 closed, assigned to anastasia-escher

[2022-05-10 15:58] corneliusroemer commented on #494
Oh I see. It's maybe a bit unconventional to have ticks at `0,5,10,16.34` as opposed to regular `0,5,10,15` but not a big deal I guess.

[2022-05-10 16:00] chaoran-chen commented on #494
True.. But tick formatting is just annoying.. ;)

[2022-05-11 16:32] theosanderson opened #498 "Percent axis for Relative Growth Advantage plot"
Did you ever consider having this axis in percent to match the Sequences Over Time graph? IMO that would be clearer when screenshotted (i.e. it's not totally clear if 0.1 means 10% or 0.1%)

[2022-05-11 21:02] chaoran-chen commented on #498
I don't know if I ever noticed! It would for sure be better to have it more consistent. Thank you!

[2022-05-13 10:04] corneliusroemer opened #499 "ENH: Highlight countries with high share in addition to high number in international comparison plot"
The international comparison plot for queries is super useful to quickly see where a mutation/lineage is most common.

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/25161793/168260911-8ace81b7-902e-4177-9685-ba005ddd42ed.png">

Right now, covSpectrum autoselects around 6 countries to show. My suspicion is that these are the countries with the highest _number_ of sequ

[2022-05-13 18:15] corneliusroemer commented on #494
It seems to be a slightly bigger issue, still maybe? This is on the international comparison plot on the main site:
<img width="1332" alt="image" src="https://user-images.githubusercontent.com/25161793/168343288-fb0e290b-2f3b-4811-8970-c0c059aa38de.png">

https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?aaMutations=S%3A248H%2CS%3AS1261Y&nucMutations=22792T&pangoLineage=BA.2*&aaMut

[2022-05-17 11:17] chaoran-chen commented on #494
Maybe we didn't address the issue for the international comparison plot. @anastasia-escher, could you please take a look? :)

[2022-05-17 13:56] #478 closed, assigned to anastasia-escher

[2022-05-18 11:01] anastasia-escher commented on #494
Hi @corneliusroemer and @chaoran-chen, yes, it has to be fixed on that plot separately. Is there another plot on the website where this issue could appear? I have accidentally pushed the commit with the fixing of this issue to the develop branch, is it ok?

[2022-05-18 14:27] chaoran-chen commented on #494
Thanks @anastasia-escher. @corneliusroemer, please re-open again if you find more issues with the ticks.

Otherwise: solved in 5eb3395aebdd69765f6cc06d19f77dd47bc59c46.

[2022-05-18 14:27] #494 closed, assigned to anastasia-escher

[2022-06-01 11:15] anastasia-escher commented on #496
@chaoran-chen please check if it works correctly now.

[2022-06-01 20:21] Sinickle opened #504 "Decision for when to hide growth advantage is peculiar"
Not really sure what the current logic is for when to show a growth advantage and when to hide it due to not enough data, but it definitely behaves unexpectedly in certain scenarios.

One example-
BA.4 vs BA.5 in Canada
<img width="734" alt="image" src="https://user-images.githubusercontent.com/94097102/171493363-43944856-334c-4d8c-9639-0571bf80346c.png">

...but there's only 2 sequences of BA.5 i

[2022-06-01 20:40] chaoran-chen commented on #504
Hi @Sinickle, thanks for pointing this out. We currently use a very simple/ad-hoc metric to decide whether to show a warning. We show a warning if the confidence interval is wider than 1. Do you have a suggestion of what might be better?

[2022-06-02 00:57] Sinickle commented on #504
Then I think the issue is that having a growth advantage of [-99% - 0%] of x vs y is the equivalent of having a growth advantage of [0% - 10,000%] for y vs x
Although this situation is more unlikely, it would also be weird if some super variant came along that had a [10,000% -10,101%] growth advantage and we decided that's too little confidence

If I'm correct that the idea was something like "The

[2022-06-02 11:15] corneliusroemer opened #506 "ENH: Set up staging branch to test potentially brittle new features"
I'd be very happy to try out new features in my standard usage of covSpectrum, before they are pushed to the live website.

Is there something like a staging branch that we could merge experimental PRs into? Or is this too complicated for now?

Would be good to test drive new features for a few days. Fixes could always get cherry-picked onto master, as well.

Maybe this sort of CI flow exists alre

[2022-06-02 11:20] chaoran-chen commented on #506
Aren't the current vercel builds for every PR enough?

[2022-06-02 11:34] corneliusroemer commented on #506
Not really, because we always have multiple PRs open that we think have no bugs but we can't be sure without proper testing.

So right now there's very little solid testing before things end up live, which is OK I guess but not the most stable.

At Nextclade, we have master, which will get features that we consider ready to merge, so there shouldn't be bugs. That's what's on nextclade.vercel.app,

[2022-06-02 11:42] chaoran-chen commented on #506
Okay, that's easy to do. We can push changes to develop but not to public immediately. The content in develop is deployed at https://cov-spectrum-develop.vercel.app/

[2022-06-02 11:57] corneliusroemer commented on #506
Yep, exactly :) when there's an important fix, one can push immediately.
We could push to master after a few days. Tell people willing to be testers to use that beta version.
One could set up: covspectrum.dev, too, for the beta version. That's what we do for Nextclade, there's nextclade.dev ;)

[2022-06-02 16:19] corneliusroemer opened #507 "BUG: When selecting `advanced search` checkbox, text gets deleted"
There's a bug when checking the `advanced search` checkbox: any text entered gets deleted.

I don't see any reason for this, it's rather annoying because one then needs to reenter any text that was there:

![image](https://user-images.githubusercontent.com/25161793/171676984-6af9b614-ac95-4fc1-8d49-f86319c3b75e.png)

To reproduce: uncheck checkbox, enter some text, e.g. `BA.2 & S:484K`, check chec

[2022-06-02 16:47] FedeGueli commented on #499
Agree!

[2022-06-02 16:49] FedeGueli commented on #496
Great to hear!

[2022-06-02 16:54] FedeGueli opened #508 "ENH: Add a little vademecum on how to calculate the best growth advantages"
A little official vademecum on the comparison tool will be helpful for people joining CS in the last times:
As: When the numbers of one or both of the two lineages to compare are little it is preferred to restrict the most possible the query to areas where they are really circulating.
As: please use the show more button to check how growth advantage varies from region to region or (from state to s

[2022-06-03 00:46] AngieHinrichs commented on #284
Hi @chaoran-chen - just wondering the status of this.  More recently I got the impression that you were using the pangoLEARN assignments from GISAID, is that right?  cov-lineages/pangolin-assignment now includes pangolin/UShER assignments (without scorpio) associated with aligned & masked sequence hashes.  I could provide a mapping of sequence names and/or IDs to pangolin/UShER assignments (update

[2022-06-03 06:30] corneliusroemer commented on #284
Ideally maybe also without Scorpio override which seems to be responsible for many clear misclassifications lately?

[2022-06-03 12:28] corneliusroemer opened #509 "ENH: Put information about fasta download files in file name/header"
When I download fastas through covSpectrum/LAPIS, the file names are always identical, so I now have a hundred `sequences (39).fasta` lying around my download folder.

It would be much nicer if information about the query was contained in the fasta somewhere. In the file name, and maybe the exact URL that downloaded it in the fasta header (if there is such a thing!).

[2022-06-03 15:54] chaoran-chen commented on #284
I'm really sorry that there is no progress on this. Yes, receiving a file with an ID to the different pango lineage assignments would be hugely helpful!

[2022-06-03 16:18] AngieHinrichs commented on #284
No problem, and great work standing up mpox-spectrum so quickly!  I will email you a file with v1.9 assignments.

Yes, I use `--skip-scorpio` when precomputing the assignments for the pangolin-assignment repo.  (Then, at runtime, if the cache is used with `--skip-scorpio`, then the assignments will come through, but if scorpio is enabled (default) it will still override the cache assignments.)

[2022-06-16 03:39] knoajp commented on #456
Hi, additional report here.

The footer says: "The sequence data was updated: Today at 11:33 AM"
(It seems to be in the locale timezone, I'm in Japan +9:00)

And now it passed 1 hour+, the reloads continues.
(Edit: It doesn't work until 4 hours+, then 4:01 PM finally get it!!)

[2022-06-20 14:10] #496 closed, assigned to anastasia-escher

[2022-06-21 09:48] anastasia-escher commented on #443
Problem:
We use the function _.isEqual here in deep-compare-hooks.ts:

function useDeepCompareMemoize<T>(value: T): T | undefined {
  const ref = useRef<T>();
  if (!_.isEqual(value, ref.current)) {
    ref.current = value;
  }
  console.log('Deep compare:');
  console.log(value, ref.current);
  return ref.current;
}

There seems to be no reliable native alternative which can compare such a wide r

[2022-06-22 14:38] #291 closed, assigned to anastasia-escher

[2022-06-23 09:16] chaoran-chen commented on #443
Hi @anastasia-escher, I see two potential solutions:

- We don't need to compare the same wide range of data structures. I think that we only compare (more or less) plain objects. You could check the cases in which `useDeepCompareMemoize()` is currently being used.
- We should also be able to refactor our code so that it does not need to use `useDeepCompare...()` functions at all (but only the def

[2022-06-26 13:35] #441 closed, assigned to nobody

[2022-06-27 14:55] JosetteSchoenma opened #512 "Request: Tabs for choosing NextcladePangolineage."
I would like to be able to easily change which assignment algorithm is being used when doing a search, since it is quite a long name to type and remember. Maybe with tabs, like in another part of the page?
![image](https://user-images.githubusercontent.com/94831035/175970755-4fae7a1a-3f01-4996-863f-887359bc1637.png)

[2022-06-28 10:15] chaoran-chen commented on #385
It would be nice to show the CIs by default but have an option to turn them off.

For the "Compare variants" mode, we can just calculate the usual binomial CIs using the Wilson score. For the "Compare variants to a baseline", I suggest calculating the Binomial ratio confidence (that we originally implemented for the hospitalization rate plots): https://github.com/cevo-public/cov-spectrum-website/b

[2022-06-29 08:34] chaoran-chen commented on #377
Fixed by #477

[2022-06-29 08:34] #377 closed, assigned to nobody

[2022-06-29 08:36] #273 closed, assigned to nobody

[2022-06-29 08:39] chaoran-chen commented on #274
By extending the `variantQuery` of LAPIS, it's now possible to search them through the advanced search.

[2022-06-29 08:39] #274 closed, assigned to chaoran-chen

[2022-07-04 07:55] anastasia-escher commented on #507
Is it meant to be that when "advanced search" is on there are no autocomplete options?

[2022-07-04 08:06] anastasia-escher commented on #507
Is it also a bug that the checkbox changes to be 'checked' only on second click (when used for the first time)?

[2022-07-04 08:51] chaoran-chen opened #513 "Search bar does not change when selecting a known variant"
How to reproduce:

1. Open a variant page (e.g., [this one](https://cov-spectrum.org/explore/Switzerland/AllSamples/Past6M/variants?aaMutations=S%3A452R&nucMutations=9866T%2C12160G&pangoLineage=BA.2*&)). We see that the variant is filled out in the search bar:
![image](https://user-images.githubusercontent.com/18666552/177118674-a48e16bc-86c6-4078-ad92-d666921f3cfe.png)
2. If we now click on anoth

[2022-07-04 08:53] chaoran-chen commented on #507
We don't offer an autocompletion for the advanced search. That's not the issue.

Yes, that is a bug!

---

I just created #513 which is also about the search bar. Maybe the bugs are related and you can address them together?

[2022-07-04 11:49] anastasia-escher commented on #507
Hi @corneliusroemer and @chaoran-chen , please check if it is the correct behaviour  (only #507 is addressed and not #513):
https://cov-spectrum-develop-lpa0s4r84-cov-spectrum.vercel.app/

[2022-07-06 08:13] chaoran-chen opened #514 "Jaccard similarity of the baseline and compared variants"
When comparing variants to a baseline, we can show the Jaccard similarity of the variants. We could add a metrics box above the plots that looks like this:

![image](https://user-images.githubusercontent.com/18666552/214010698-e8abe223-e2f7-4b53-b385-4e546e8cd4b3.png)

(A related issue is #453.)

[2022-07-07 10:07] chaoran-chen commented on #507
Hi @anastasia-escher, this looks good! I'm not sure if it is the original intent of Cornelius but I think that the behavior that you implemented is great.

[2022-07-08 11:04] #507 closed, assigned to anastasia-escher

[2022-07-08 11:05] chaoran-chen commented on #506
Closing this as we already have a staging branch (`main`) deployed at https://cov-spectrum-develop.vercel.app/

[2022-07-08 11:05] #506 closed, assigned to nobody

[2022-07-08 11:09] chaoran-chen commented on #203
I don't think that this is useful anymore/at the moment.

[2022-07-08 11:09] #203 closed, assigned to nobody

[2022-07-08 11:14] chaoran-chen commented on #462
I agree, it would be useful to have it for the "Sequences over time" plots both in the single and the two comparison modes.

@anastasia-escher, may I assign this to you as one of the upcoming tasks? :)

[2022-07-08 12:11] anastasia-escher commented on #462
@chaoran-chen sure!

[2022-07-10 09:34] chaoran-chen opened #517 "Add relative growth advantage to collection table"
The estimated relative growth advantage should be added to the overview table of a collection.

[2022-07-10 09:36] chaoran-chen opened #518 "Add date range filter to collection page"
Currently, the collection page uses data from the past 6 months. The date range should, however, be configurable. The existing date range filter component should be reused and added next to the country filter on the `CollectionSingleViewPage`.

[2022-07-10 09:39] chaoran-chen opened #519 "Select variant as baseline in collection view"
The user should be able to select a variant ~in a collection~ as the baseline. Then, the shown relative growth advantage (#517) and the sequences over time plots should be relative to the baseline.

[2022-07-10 09:41] chaoran-chen opened #520 "Configurable collection defaults"
The admin of a collection should be able to set defaults for the country and date range filter (#518) and the baseline variant (#519).

[2022-07-10 09:45] chaoran-chen opened #521 "Select variants in a collection for comparison"
The user should be able to select variants in a collection overview table and, with the click of a button, switch to the `CompareEquals` page to see a comparison.

[2022-07-10 10:27] chaoran-chen opened #522 "Replace known variant lists with collections"
The existing known variant lists are barely updated anymore and should be replaced by the new collections.

[2022-07-10 10:29] chaoran-chen opened #523 "Change order of variants in a collection"
The admin should be able to change the order of the variants in a collection.

[2022-07-10 12:27] #517 closed, assigned to chaoran-chen

[2022-07-11 09:12] anastasia-escher commented on #513
Hi @chaoran-chen, if you are still not on vacation, please check this:
https://cov-spectrum-develop-ddt38aovs-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M

[2022-07-12 08:48] anastasia-escher commented on #385
Hi @corneliusroemer and @chaoran-chen !Would you like to show the CIs on plot as separate grey (dashed or solid)  lines surrounding the main lines (the CI lines can be toggled away), like this? Or did you have another idea?
![Screenshot 2022-07-12 at 10 46 59](https://user-images.githubusercontent.com/52914023/178449824-cfaa904d-fd1c-4079-9050-38e0378c0264.png)
![Screenshot 2022-07-12 at 10 56 27]

[2022-07-12 10:19] chaoran-chen commented on #385
I was thinking about colored and partially transparent areas similar to the existing ones

![_20220712_121716.JPG](https://user-images.githubusercontent.com/18666552/178468249-74c2b0c1-b9b5-4d9f-b08d-59b8408e27c6.JPG)

Instead of blue, the area should have the same color (but lighter/partially transparent) as the solid lines

[2022-07-12 10:21] chaoran-chen commented on #385
Is there maybe some code that you can reuse?

[2022-07-12 10:53] anastasia-escher commented on #385
@chaoran-chen
![Uploading Screenshot 2022-07-12 at 12.52.39.png…]()

[2022-07-12 10:54] anastasia-escher commented on #385
@chaoran-chen like this?
![Screenshot 2022-07-12 at 12 52 39](https://user-images.githubusercontent.com/52914023/178474451-e6de9db1-4044-41ab-9e4c-6a82c01adbcc.png)

[2022-07-12 10:57] chaoran-chen commented on #385
Yes, that's great!

[2022-07-12 11:02] anastasia-escher commented on #385
Application of approximateBinomialRatioConfidence function to the "Compare variants to a baseline" case is a bit more complicated. Do you mind if I make a PR for this simple 'Compare variants" case and make the "Compare variants to a baseline" later (maybe, I'll need to ask Dave for help when he is back from holidays next week).

[2022-07-12 11:16] chaoran-chen commented on #385
Okay, sure :)

[2022-07-14 07:23] yexiao-cheng opened #526 "Can a collection be private?"
Hi,

I noticed that you updated the `Collections` function, which I thought was very helpful. I wonder if users can make their collections private?

Many thanks for your answers!

Best,
Yexiao Cheng

[2022-07-17 11:31] chaoran-chen commented on #526
Hi @yexiao-cheng, this is at the moment not possible. We might add it in the future (but probably not very soon).

[2022-07-17 11:39] yexiao-cheng commented on #526
Thanks!

[2022-07-17 19:47] #519 closed, assigned to chaoran-chen

[2022-07-17 22:04] chaoran-chen opened #527 "Compare variants tooltip broken when CI is shown"
If I turn off the CI:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/18666552/179426445-964e4624-5cba-4136-806d-12bfc21588a9.png">

If I turn on the CI:

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/18666552/179426462-18cbe617-511c-4798-9994-ae7ac8564670.png">

https://cov-spectrum.org/explore/Germany/AllSamples/Past6M/variants?pangoLi

[2022-07-18 09:05] anastasia-escher commented on #527
Hi @chaoran-chen! The issue was that the Tooltip wanted to show info on every object on the plot, including areas which had a transparent stroke and could not be seen on the tooltip and only took a lot of space.
It is fixed here:
https://cov-spectrum-develop-94o4boce6-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M

Does it look ok?

[2022-07-18 09:25] chaoran-chen commented on #527
Yes, that looks good 👍

[2022-07-18 10:30] anastasia-escher commented on #443
@chaoran-chen how about extracting the isEqual function from lodash and saving it as a helper?

[2022-07-18 13:59] anastasia-escher commented on #462
Hi @chaoran-chen and @corneliusroemer, please check this
https://cov-spectrum-develop-3wb4lcdlb-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M/variants?variantQuery=BA.3*&variantQuery1=BA.1*&analysisMode=CompareEquals&

[2022-07-21 11:18] anastasia-escher commented on #443
@chaoran-chen
please check if everything works as expected here after removing lodash:
https://cov-spectrum-develop-c7htoft68-cov-spectrum.vercel.app/explore/Switzerland/AllSamples/Past6M

[2022-07-22 17:36] JennKnapp opened #530 "ORF9b vs. ORF9a discrepancy"
There is a discrepancy between ORF9b and ORF9a that I would like to draw attention to.
When comparing BA.5 and BA.5.2.1 there is a single amino acid change that distinguishes the two, listed as ORF9b:D16G.
![ORF9b-D16G](https://user-images.githubusercontent.com/84808407/180492922-3a1a7faa-e345-41dd-a5f6-2fd25efec9b4.png)

When I obtain the reference sequence from GISAID for ORF9b, I get the follow

[2022-07-24 15:29] chaoran-chen commented on #462
<img width="941" alt="image" src="https://user-images.githubusercontent.com/18666552/180654230-02b1d3ae-da3d-478f-b135-5ac5038d79e8.png">

This doesn't look right, why are there negative values? The y-axis should still be in the range of 0 to 100%. (log(0) should be considered as undefined and not shown.) The implementation should be equivalent to the "log scale" mode for the international compari

[2022-07-24 15:36] chaoran-chen commented on #443
Hi @anastasia-escher, did you check it? Already the first thing I tried did not work:

1. Click on the link you sent
2. Click on a variant in the known variants list (e.g., nextcladePangoLineage:BA.2.75*)
3. Click on another variant in the known variants list on the left (e.g., nextcladePangoLineage:BA.4*)

The title changed but nothing else.

[2022-07-24 15:52] silcn opened #531 "BA.2.12.1* does not pick up BG alias lineages"
Searching for BA.2.12.1* only gives samples designated as BA.2.12.1, and misses its sublineages which have the alias BG.*. Other aliases are working as expected.

[2022-07-24 21:59] chaoran-chen commented on #531
Thanks for reporting! The alias was missing in the database, it is now fixed.

You might need to clear your cache (or wait for the next data update) to see the correct results.

[2022-07-24 21:59] #531 closed, assigned to chaoran-chen

[2022-07-25 12:55] theosanderson opened #532 "Surface errors from malformed queries"
Current behaviour: https://cov-spectrum.org/explore/United%20Kingdom/AllSamples/Past6M/variants?variantQuery=4181T+14408T& spins forever

Desired behaviour: the client reports the error from the server (in this case a malformed query): https://lapis.cov-spectrum.org/gisaid/v1/sample/aggregated?country=United+Kingdom&dateFrom=2022-01-24&variantQuery=4181T+14408T&host=Human&accessKey=9Cb3CqmrFnVjO3X

[2022-07-26 08:11] #527 closed, assigned to anastasia-escher

[2022-07-26 08:56] chaoran-chen commented on #462
Also to clarify here: This issue is requesting a logit scale, not a log scale but I think that it would make sense to add both.

[2022-07-26 08:57] chaoran-chen commented on #462
By the way, a related issue is #211 which is asking for a log scale option in the estimated cases plot.

[2022-07-28 13:28] chaoran-chen opened #535 "Show dashboard for a user-defined list of sequences"
Suggested by @theosanderson in https://github.com/cevo-public/LAPIS/issues/56

[2022-07-28 14:36] corneliusroemer opened #536 "ENH: Show error instead of infinite loading when advanced query is incorrect"
Right now, when I have a typo in an advanced query, like `nextcldePangoLineage:XE` covSpectrum just loads for ever, rather than telling me that I have a typo in the query.

It would be nice if I was told about something being wrong/not-parseable in the query.

[2022-07-28 14:37] corneliusroemer commented on #536
Oh, this is a duplicate from @theosanderson's report #532

[2022-07-28 14:37] #536 closed, assigned to nobody

[2022-07-28 14:39] corneliusroemer opened #537 "BUG: Advanced query not working with 3 letter recombinants like XAA"
I've noticed that the advanced query mode seems not to function with 3 letter recombinants like `XAA` while normal mode works fine with them.

This works:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?pangoLineage=XAA&

But this doesn't:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery=XAA&

[2022-08-01 10:10] #537 closed, assigned to chaoran-chen

[2022-08-01 11:19] chaoran-chen opened #540 "Don't break entire collection page if one query is wrong"
Currently, if one of the queries in a collection is invalid, the whole page just does not load. Instead, it should load all other variants and show which query is wrong.

[2022-08-02 11:29] corneliusroemer opened #541 "Open covSpectrum does not have NextcladePango"
I've noticed that `nextcladePangoLineage` advanced queries don't work in open covSpectrum (it would be nice if it did so we can use the same queries for editor's suggestion)

So I was wondering which lineage assignment method is used by open. I have the suspicion that it is Nextclade lineages, even though the lineages are listed as pangolin.

<img width="1517" alt="image" src="https://user-images.

[2022-08-02 11:35] chaoran-chen commented on #541
In the open version, we use the open dataset that Nextstrain provides and copy over values in the normal pango lineage field. Did you guys switch to Nextclade in the open dataset?

[2022-08-02 11:53] corneliusroemer commented on #541
Which file exactly do you use? I can check what the method is.

In nextclade.tsv.gz it's definitely Nextclade Pango.

In metadata.tsv.gz both are present (I guess we get the pangolin part from Genbank).

<img width="604" alt="image" src="https://user-images.githubusercontent.com/25161793/182367702-fc8a4b30-2661-4032-9198-5daa3dc9a17e.png">

So it seems you use pangolin, not sure whether Usher or p

[2022-08-02 12:00] #541 closed, assigned to nobody

[2022-08-02 12:01] corneliusroemer opened #542 "Add NextcladePango to open data"
Following up from #541, it appears that NextcladePango is not used in open, causing editor's suggestions to show 0.

[2022-08-02 12:12] chaoran-chen commented on #541
Yes, I've been using `pango_lineage` from metadata.tsv but good to know that `Nextclade_pango` is just next to it. It should then be quite easy to add.

[2022-08-02 12:18] #532 closed, assigned to chaoran-chen

[2022-08-02 13:46] #540 closed, assigned to chaoran-chen

[2022-08-04 15:45] a-roguet opened #544 "Download mutation table"
Hello covSpectrum team,

Thanks for your amazing work,
Is there a way to download the mutation list for each lineage/sublineage?
Best,

Adelaide

[2022-08-05 09:58] chaoran-chen commented on #544
Hi @AnehEf, thanks for reaching out! There is no such download button on the website yet but you could use the LAPIS API ([documentation](https://lapis-docs.readthedocs.io/en/latest/)). Here is a short Python script to download the mutations of all Pango lineages **using the open data**:

[code]

The GISAID instance of the API is unfortunately non-public. But I downloaded the data for you:

[nuc-m

[2022-08-05 11:22] chaoran-chen commented on #544
Just for completeness, here are the files with the amino acid changes:

[aa-mutations.zip](https://github.com/cevo-public/cov-spectrum-website/files/9268120/aa-mutations.zip)

[2022-08-05 22:28] a-roguet commented on #544
Hello @chaoran-chen,

Thank you very much for your response.
Is it because of the GISAID-API that I do not get the same outputs than you? For example with BA.5, I obtain mutations with proportions around 50%, while on cov-spectrum and in the files you sent, proportions are ~99%.
Thanks,

Adelaide

[2022-08-08 21:02] corneliusroemer opened #545 "Add quality filter for total number of unambiguous, aligned nucleotides"
Zach mentioned that he'd like to filter out a lot of Austrian partial sequences.

Right now Nextclade.tsv doesn't contain a ready-made coverage metric.

But something can be deduced easily: the number of aligned, non-ambiguous nucleotides.

That's equal to:
`sequenceLength - numberOfNs - ambiguousNucleotides + deletedNucleotides - insertedNucleotides`

That should give numbers between 0 and refere

[2022-08-08 21:03] corneliusroemer commented on #545
Relevant issue over at Nextclade: https://github.com/nextstrain/nextclade/issues/932#issuecomment-1208603840

[2022-08-08 21:07] chaoran-chen commented on #545
What do you think when it might be addressed in Nextclade?

[2022-08-08 22:10] corneliusroemer commented on #545
Hah, well, if there's a good use case in covSpectrum I can expedite this - just need to agree with @Ivan-aksamentov and Richard on the right metric to include.

I do think it will take at least a week, maybe two as it requires a significant software change.

[2022-08-09 05:47] chaoran-chen commented on #545
Wow, that was quick - thanks @ivan-aksamentov for moving it along (https://github.com/nextstrain/nextclade/pull/956)! I'm happy to wait for you guys to decide on the right metric and will then include it in LAPIS on CoV-Spectrum.

[2022-08-09 12:24] corneliusroemer commented on #545
Excellent, yeah I'll have a look at what Ivan did soon so we can get this moving forward :)

[2022-08-09 12:49] #513 closed, assigned to anastasia-escher

[2022-08-09 13:11] #522 closed, assigned to chaoran-chen

[2022-08-09 13:57] chaoran-chen opened #549 "Fix/improve header for mobile"
On small screens/mobile devices, the header is quite broken.

On a collection page, it looks like this:

<img width="415" alt="image" src="https://user-images.githubusercontent.com/18666552/183667452-702189d4-33f9-48d1-9787-72bfa7fdccd2.png">

On a variant page (the filter for the sampling strategy looks unpleasant..):

<img width="404" alt="image" src="https://user-images.githubusercontent.com/18

[2022-08-09 18:24] corneliusroemer opened #550 "BUG: Clicking on "add variant" doesn't do anything"
I've noticed a recent bug.

E.g. using this page, if I click on "add variant" in baseline tab, the plots move a little but in the end nothing happens.

https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery=NextCladePangoLineage%3ABA.2.75*+%26+S%3A574V&analysisMode=CompareToBaseline&

Not sure why and if this is reproducible. Sometimes, with other links, I can "add variant"

[2022-08-09 19:00] #550 closed, assigned to chaoran-chen

[2022-08-09 19:00] chaoran-chen commented on #550
Thanks for reporting the bug!

[2022-08-09 19:29] chaoran-chen opened #551 "Drag&drop variants from known variant list to variant search"
It would be great if we could drag&drop a variant from the known variant list to the variant search. For analyzing a single variant, it's possible to just click on a variant in the list. However, the known variant list currently cannot be used for selecting multiple variants as it is needed for comparisons.

**There is one possible issue though..** will it work well if the known variant list is ve

[2022-08-09 22:43] chaoran-chen commented on #544
Thanks for noticing that, there were indeed a number of mutations missing/not being counted in the open data version! This has been fixed now. Sorry for the inconvenience!

[2022-08-10 02:39] a-roguet commented on #544
Thank you so much.

[2022-08-10 07:05] #544 closed, assigned to nobody

[2022-08-10 10:41] chaoran-chen opened #555 "Drag&drop variants for touch"
It would be great if the drag&drop of variants from the known variant list to the variant search (introduced in #551) also works on touch screens. I'm not sure if it would be best to use the [Touch API](https://developer.mozilla.org/en-US/docs/Web/API/Touch) directly or to use a library such as [React DND](https://react-dnd.github.io/react-dnd/docs/overview) that supports a touch backend.

Especia

[2022-08-10 11:44] #551 closed, assigned to chaoran-chen

[2022-08-10 21:16] #549 closed, assigned to chaoran-chen

[2022-08-11 07:01] anastasia-escher opened #558 "Placeholder of variant search field on mobile screen"
A small style issue: placeholder of variant search field looks weird on mobile screen.
![Screenshot_20220810-122902_DuckDuckGo](https://user-images.githubusercontent.com/52914023/184080209-f73b7e7f-eafc-4aff-9a10-16c4ddd3b0dc.jpg)

[2022-08-11 07:16] chaoran-chen commented on #558
I actually just fixed it yesterday night in 77dcdddf791f9779767bc735d157d389ed8e6e67 ;)

[2022-08-11 10:57] anastasia-escher commented on #558
@chaoran-chen oh, ok :)

[2022-08-11 10:58] #558 closed, assigned to nobody

[2022-08-11 12:25] chaoran-chen opened #561 "Bring back "csv download""
I removed the `fast-csv` package in #560 because it was causing trouble. The last release of the package was two years ago so I think it's a good idea to replace it.

The CSV download depended on it. For now, it is disabled but we should bring it back.

![image](https://user-images.githubusercontent.com/18666552/184132534-c9c967fd-07c3-48e5-9446-5776254836ab.png)

![image](https://user-images.gith

[2022-08-11 21:24] chaoran-chen commented on #276
#560 and #562 updated many dependencies.

[2022-08-11 21:24] #276 closed, assigned to chaoran-chen

[2022-08-12 21:09] chaoran-chen commented on #436
Obsolete since #548

[2022-08-12 21:09] #436 closed, assigned to nobody

[2022-08-13 08:15] anastasia-escher commented on #561
What about this one?
https://www.npmjs.com/package/react-csv

[2022-08-13 12:33] chaoran-chen opened #563 "Update to React 18"
It would be nice to update to React 18. It brings a bit of performance improvement and the new `Suspense` could soon(ish) get interesting.

https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

[2022-08-15 12:16] #253 closed, assigned to chaoran-chen

[2022-08-15 12:19] chaoran-chen commented on #561
Looks good! Would you like to implement it?

[2022-08-15 12:20] chaoran-chen commented on #561
Although 40.9 kB is quite a lot for such a simple feature. I wonder if there is a slimmer library.

[2022-08-15 13:03] anastasia-escher commented on #561
I'll also look for something else.  But react-csv is the one we use in Mpox-spectrum, isn't it (at least I think I have used it there once)?

[2022-08-15 13:06] chaoran-chen commented on #561
I don't think that we are transforming any JSON to CSV in MpoxSpectrum and the package.json does not list react-csv
https://github.com/cevo-public/mpox-spectrum-website/blob/main/package.json

[2022-08-15 13:32] anastasia-escher commented on #561
Right, I confused it with something else, sorry.

[2022-08-15 17:15] corneliusroemer opened #566 "BUG: Insertion showing in non-advanced query - but requiring advanced query"
Insertion queries show in the non-advanced query as hint - but I think they only work for advanced queries?

<img width="765" alt="image" src="https://user-images.githubusercontent.com/25161793/184683336-ab326f99-d9d1-41f6-9e5e-e357691d959c.png">

[2022-08-15 17:16] corneliusroemer commented on #566
I'm wrong, it works
<img width="1558" alt="image" src="https://user-images.githubusercontent.com/25161793/184683500-52801985-47f7-49a1-a1b0-128b53168612.png">

[2022-08-15 17:16] #566 closed, assigned to nobody

[2022-08-15 17:25] corneliusroemer opened #567 "Long insertions break the layout, should probably be truncated"
Sometimes there are really long insertions that break the layout - insertions should probably be truncated after say 20 nucleotides - long insertions are usually artefacts anyways.

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/25161793/184685125-b29528c9-8c4c-45cf-a353-a3f6513bab80.png">

https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery

[2022-08-16 12:51] #561 closed, assigned to anastasia-escher

[2022-08-17 12:37] chaoran-chen opened #568 "Add "new sequences in past 10 days" column to collections"
It could be useful to add a column to the collection tables that shows the number of sequences that were submitted in the past 10 days?

[2022-08-17 13:28] #568 closed, assigned to chaoran-chen

[2022-08-17 13:57] jrotieno opened #569 "Different output searching variants country vs global"
I was looking for BA.2.75* on the web interface and using the global setting I got 21 countries.

When I used the API, I got 28 countries. One of the countries missing in the web global search was Cambodia.

When I set the search to Cambodia and BA.2.75* (web), the one sample shows up.

Why is it missing in the global?

Is it the database or myself?

[2022-08-17 22:50] #569 closed, assigned to chaoran-chen

[2022-08-17 22:50] #484 closed, assigned to chaoran-chen

[2022-08-17 22:51] chaoran-chen commented on #545
@corneliusroemer, how's the progress on Nextclade's side? :)

[2022-08-17 23:03] chaoran-chen commented on #569
Hi @jrotieno, thank you very much for reporting the bug! There was an error that caused sequences without a known division to be excluded. This has been fixed now.

[2022-08-17 23:52] ivan-aksamentov commented on #545
@chaoran-chen Cornelius is probably busy right now. On my side of things, I have nothing to add. It's pending scientific review (the formulas for the metric itself and for its QC score) and we need to decide on things I mentioned in the PR (whether it's a QC or not QC basically). Feel free to comment there.

[2022-08-18 08:36] jrotieno commented on #569
Thanks for resolving @chaoran-chen!

[2022-08-19 07:52] chaoran-chen opened #571 "Collection table: malformed query blocks growth advantage calculation"
The growth advantage is not getting calculated for variants that are below a malformed query.

![image](https://user-images.githubusercontent.com/18666552/185571107-5ebd9983-2824-4eea-8779-9d63898a1cf0.png)

[2022-08-19 13:49] corneliusroemer opened #573 "ENH: Provide GISAID-query for copy/paste, saving time"
For new lineages, the 3d delay between GISAID and covSpectrum is often critical so I go and check on GISAID directly.

Unfortunately, GISAID uses different AA names, so it's quite tedious to create these queries.

It would not be too hard but save a lot of time if covSpectrum could convert a covSpectrum AA query to a GISAID AA query.

Basically all one needs to do is turn things like `ORF1a:2243B,

[2022-08-19 14:16] theosanderson commented on #573
It's a neat idea (I probably don't plan to do it as part of codon2nucleotide I'm afraid)

[2022-08-19 14:28] corneliusroemer commented on #573
Most important things are:
- Turn ORF1a/b + position into whatever format GISAID expects
- Sub in the origin AA if it's missing (e.g. S:346T lacks the R which I don't want to have to look up manually every time - it's a quick lookup in a lookup table in code)

[2022-08-19 15:12] chaoran-chen commented on #573
@corneliusroemer, thanks for the suggestion! I barely use the gisaid interface, would you be able to provide a clear specification of the transformation?

[2022-08-19 16:31] corneliusroemer commented on #573
Yes absolutely! I will write one :)

[2022-08-20 16:11] Sinickle opened #574 "Deleting a line from a collection can cause a crash, and change other lines"
In my experience, the crash is very reproducible, and the changes to lines are less reproducible, but I'm very confident they happen.
This has happened in multiple collections for me. Possibly only when deleting a line that isn't last on the list.

Issue 1: It will crash soon after, but not immediately after deleting the line. Clicking save will cause the crash immediately, but only after saving i

[2022-08-22 14:32] chaoran-chen opened #577 "Week date in update date is in German"
Why is the week day written in German? It should always be in English.

![image](https://user-images.githubusercontent.com/18666552/185947034-46fa8fa1-8c41-42df-8611-b00dbbbe89f7.png)

[2022-08-23 07:17] chaoran-chen commented on #530
Hi @JennKnapp, I'm very sorry for the late reply! We just take the translations calculated by [Nextclade](https://github.com/nextstrain/nextclade/).

@corneliusroemer, @ivan-aksamentov, could you please take a look at the message above?

[2022-08-23 07:40] #443 closed, assigned to anastasia-escher

[2022-08-26 11:22] FedeGueli commented on #574
Yeeah it is quite an issue cause collections are usually updated by more than 1 people of our group, Example today i uploaded lineages already in collection in 23 when i went to delete it messed up everything. i hope it was not damaged permanently @chaoran-chen

[2022-08-28 13:55] Sinickle commented on #574
The workflow I'm using for deleting lines is to scroll to the bottom of the list, make note of what the name of that bottom line is, copy the query, go and delete whatever line I intend to delete, save, refresh, and then search for the name of what was the bottom line (sometimes it no longer is at the bottom?) and then add back in the query if it got messed up.
I think there's a 50% chance it gets

[2022-08-28 15:42] chaoran-chen commented on #574
Thanks @Sinickle and @FedeGueli for reporting and sorry for the slow response! I'll investigate it in the upcoming days!

[2022-08-29 18:14] corneliusroemer opened #579 "Triple letter aliases not working for normal search in Nextclade mode"
It looks like we have the same bug as in https://github.com/cevo-public/cov-spectrum-website/issues/537 now for triple letter aliases in normal search's Nextclade mode:
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/25161793/187270013-8a5e3725-ac58-4f3b-8347-944cec702ee4.png">

[2022-08-30 16:10] chaoran-chen opened #580 "Estimated growth advantage over time"
The estimates for the relative growth advantage change with new data. We would like to know how constant/accurate the initial estimates (and the CIs) are and how the estimates change over time.

Thus, we'd like to add a plot that shows the estimates and the CIs over time. On the x-axis, we'd have the date (**submission date or sampling date?**), and on the y-axis the estimated relative growth adva

[2022-08-30 16:11] chaoran-chen opened #581 "Filter by submission date"
Currently, the date filter filters by sampling date. It would be great if there is an option to filter by submission date.

[2022-08-30 16:15] chaoran-chen opened #582 "Number of samples with a mutation"
In the mutation table, it would be good if the user can see the **absolute** number of sequences with a mutation. This is in particular relevant for positions where many samples have an ambiguous code.

[2022-08-31 08:43] chaoran-chen opened #583 "Changes of mutation proportion over time (within a variant)"
It is interesting to see how the proportion of a mutation within a variant change over time.

One idea is to add small line plots next to the entries in the mutation table that can look like this:

![image](https://user-images.githubusercontent.com/18666552/187636394-fbdda674-a5fd-4584-a8bd-43ef12deb005.png)

We could also add a table showing the proportions of different weeks/months/percentiles (

[2022-08-31 09:15] ivan-aksamentov commented on #545
@chaoran-chen The "coverage" metric has been released in [Nextclade 2.5.0](https://github.com/nextstrain/nextclade/releases/tag/2.5.0) (both Web and CLI)

[2022-08-31 09:38] chaoran-chen commented on #545
Great, thank you!!

[2022-08-31 11:23] corneliusroemer commented on #583
That's a super cool idea - little spark lines https://en.wikipedia.org/wiki/Sparkline

Though having a metric that would be sortable like the Jaccard similarity would also be very useful

[2022-08-31 11:30] anastasia-escher commented on #583
Or it could be a tooltip with a bigger plot image.

[2022-08-31 13:52] corneliusroemer commented on #580
Do I understand correctly that we'd like to better understand the biases of early estimates of growth advantages? To maybe be able to "nowcast" a "corrected" growth advantage?

[2022-08-31 13:56] corneliusroemer commented on #581
That could help a lot with evaluation of prediction tools to simulate different data availability.

One thing to be aware of: it could be that the submission date is not the same as release data.

I notice that sometimes submission is 2 days earlier than the release on GISAID. But these are outliers.

[2022-09-01 00:41] Sinickle commented on #580
@corneliusroemer Right, part of the reason is that I suspect that being able to see the growth advantage early time will help us understand how confident we can be in the current growth estimate -- if it is still fluctuating a lot from week to week, it probably isn't believable yet. I'm not sure if it would really be possible to nowcast it? I'm just hoping for something to make it more apparent ho

[2022-09-01 13:50] corneliusroemer opened #584 "BUG: Last update of open covspectrum was 14th of August?"
Just noticed that the last update of open covspectrum was on the 14th of August, more than 2 weeks ago.

Not sure if you were aware @chaoran-chen

<img width="1898" alt="image" src="https://user-images.githubusercontent.com/25161793/187930724-773971f9-5860-41ac-8d5f-c0b9270d466a.png">

[2022-09-01 18:57] chaoran-chen commented on #584
I didn't notice, thanks for reporting!

[2022-09-02 06:24] chaoran-chen commented on #584
The data update pipeline is working again.

[2022-09-02 06:24] chaoran-chen commented on #584
The data update pipeline is working again.

[2022-09-02 06:25] #584 closed, assigned to chaoran-chen

[2022-09-02 14:41] #574 closed, assigned to chaoran-chen

[2022-09-02 14:50] chaoran-chen commented on #574
The problem should have been resolved. If not, please reopen!

[2022-09-02 14:53] #579 closed, assigned to chaoran-chen

[2022-09-02 15:22] chaoran-chen opened #585 "Show what a recombinant alias stand for"
For Pango lineages, we display the resolved alias if it is not a recombinant:

<img src="https://user-images.githubusercontent.com/18666552/188181561-37010f86-bd25-4cea-a7ad-fea034e5d4c0.png" width="200" />

We should add an explanation for recombinants (Pango lineages that start with an "X") as well. A few suggestions:

- For XAA: Recombinant of BA.1* and BA.2*
- For XAA.1.5: Child of recombinant

[2022-09-02 15:24] chaoran-chen opened #586 "Show full name of Nextclade Pango lineage"
For a pure Pango lineage query that does not use Nextclade, we display the full name:

<img src="https://user-images.githubusercontent.com/18666552/188181561-37010f86-bd25-4cea-a7ad-fea034e5d4c0.png" width="200" />

We should do the same for variants defined by a nextcladePangoLineage.

[2022-09-03 09:10] #542 closed, assigned to chaoran-chen

[2022-09-03 10:03] chaoran-chen opened #587 "Sort AA mutations by gene position"
Currently, in the variant mutation table if "sort by position" is chosen, the entries are first sorted alphabetically by the gene name and then by the position within each gene. It would however be better if the genes are sorted by their positions in the genomic sequence.

[2022-09-03 14:41] chaoran-chen commented on #204
@anastasia-escher, I finally thought about this issue again. I'd suggest only changing the `VariantSelector.formatVariantDisplayName()` function to return normalized values.

- `pangoLineage`: upper-case
- `nextcladePangoLineage`: same like `pangoLineage` but with the extension ` (Nextclade)`
- `gisaidClade`: upper-case and with the extension ` (GISAID clade)`
- `nextstrainClade`: upper-case and w

[2022-09-03 14:48] chaoran-chen commented on #204
I think that the `ReferenceGenomeService` should provide all relevant information.

[2022-09-03 16:49] corneliusroemer opened #588 "ENH: Reduce "observation bias" in growth advantage calculations"
It's a well known fact that designated lineages usually start out with higher growth advantages that get lower over time.

One reason for this may well be "designation" or "observation" bias - because growing lineages are more likely to get designated.

But even under the null hypothesis - no growth advantage at all, there would hence still be apparent growth advantage - large leading up to design

[2022-09-03 18:45] #545 closed, assigned to chaoran-chen

[2022-09-05 17:06] corneliusroemer opened #590 "BUG: Dropdown for "Other websites" has gap from trigger button, causing UX issues"
I remember this being an issue in the past, but I particularly noticed this during your presentation to SPHERES, where you struggled with this while giving the talk @chaoran-chen

![2022-09-05 17 51 13](https://user-images.githubusercontent.com/25161793/188493091-0487683d-6d78-49dc-946a-5fe685790ffd.gif)

I can reproduce this problem on Safari on my Mac. But this seems to be a more universal issue

[2022-09-06 10:01] chaoran-chen opened #591 "Set environment variables for tests"
Tests that require server requests (e.g., because they use the `ReferenceGenomeService`) don't work at the moment on GitHub Actions because they don't know the server address.

[2022-09-08 09:47] #591 closed, assigned to chaoran-chen

[2022-09-08 10:45] corneliusroemer opened #592 "ENH: Allow manual setting of number of rows shown in collections table"
I'd like to see all rows in a collections table - unfortunately the max is 100 right now - which isn't enough for my usage.

<img width="529" alt="image" src="https://user-images.githubusercontent.com/25161793/189103026-02ee367f-6f19-488f-9118-68aabd757370.png">

Either: make the max much bigger, e.g. 500, and/or let the user manually set it.

[2022-09-08 10:57] chaoran-chen commented on #592
This is unfortunately not possible with the free version of the MUI Datagrid library that we use (https://mui.com/x/react-data-grid/pagination/#size-of-the-page). I'll keep this issue around but it can only be implemented if we choose to switch to a different data grid library.

[2022-09-08 11:00] chaoran-chen commented on #590
Yes, that's indeed annoying.

@anastasia-escher, could you please take a look at this when you have time?

[2022-09-08 11:07] chaoran-chen opened #593 "Update to Node 18"
We currently use node 14 for the [builds in Docker](https://github.com/cevo-public/cov-spectrum-website/blob/develop/Dockerfile) and node 15 for the [Github Actions](https://github.com/cevo-public/cov-spectrum-website/blob/develop/.github/workflows/react.yml). We should switch to the current node 18 which enjoys LTS.

[2022-09-08 11:13] corneliusroemer commented on #592
Ah that's a shame.

Maybe we could ask for sponsorship? :)

[2022-09-08 12:20] chaoran-chen opened #594 "Limit parallel API calls for long collections"
On collection pages and for the known variant plots, we currently fetch the data for all variants at the same time. With collections of hundreds of variants ([collection #14](http://localhost:3000/collections/14) has >200), this might be a bit too much, even for the very efficient LAPIS. We should limit the number of parallel requests (maybe to 100?).

[2022-09-08 13:02] FedeGueli opened #595 "ENH: Collections, Flag Lineages as Special option"
Hi it would be great if possible to have the option to flag lineages while editing as SPECIAL (Call them as you like)
and then for users to.have a flag in each collection  as 'show specials only'  to create a shortlist of only the lineages flagged as special while editing by maintainer(s)

[2022-09-08 13:35] corneliusroemer commented on #595
I agree this would be useful - allowing us to quickly elevate a lineage and reducing duplication

[2022-09-08 14:21] chaoran-chen commented on #595
Thanks for the suggestion! This sounds like a good idea and easy enough to implement.

[2022-09-08 14:43] corneliusroemer opened #596 "ENH: Allow export/import of collections as JSON or YAML"
I was wondering if it was possible to save the work we do on collections in case something happens, e.g. compromised password or outage etc.

Once export works, one could also do import.

That may also open the door to auto-generated collections, e.g. one could quickly programatically create a collection for all pango lineages etc.

[2022-09-08 14:58] #571 closed, assigned to chaoran-chen

[2022-09-08 19:07] chaoran-chen commented on #596
That's already possible through the API. I just have to document it.

Don't worry about losing the data. I maintain daily backups.

[2022-09-09 08:48] corneliusroemer commented on #596
Excellent, thanks :)

[2022-09-10 21:21] #595 closed, assigned to chaoran-chen

[2022-09-12 12:49] corneliusroemer opened #598 "ENH: Allow numeric filtering in collections"
Collections are amazing. One thing that would make them even more useful would be if I could filter numerically:
e.g. select only lineages with at least 10 submissions in the past 10 day. Right now I don't think that's possible as filtering assumes that the columns are strings and not numbers:
<img width="731" alt="image" src="https://user-images.githubusercontent.com/25161793/189657735-648f30e5-b

[2022-09-15 15:14] theosanderson opened #600 "Unexpected malformed query for not-mutated"
[This query](https://cov-spectrum.org/explore/United%20Kingdom/AllSamples/Past6M/variants?variantQuery=S%3AH69.&), `S:H69.` gives a malformed query error in advanced query mode which I think is unexpected

[2022-09-16 09:05] #204 closed, assigned to anastasia-escher

[2022-09-16 12:54] FedeGueli commented on #573
it could be great if "open in other website" would have an option open in Codon2 nucleotide and get the query transformed to Gisaid Format. @theosanderson dunno if possible.

[2022-09-16 14:31] corneliusroemer opened #601 "ENH: Make query field wider"
I'm just making some complicated queries but I can't actually see much of it. It would be nice if the bar was much wider. We have the space:
<img width="1593" alt="image" src="https://user-images.githubusercontent.com/25161793/190663486-7bfbc8f2-994b-4ce6-8f8e-e79d812e0788.png">

[2022-09-21 07:47] corneliusroemer opened #602 "BUG: Collections crash when there's a 400"
Just noticed that collections crash. Looked at the console and there was a 400 for a request.

<img width="2551" alt="image" src="https://user-images.githubusercontent.com/25161793/191445815-b7bed131-7b4e-4896-bcbd-3c1e6126ac5c.png">

This collection crashes: https://cov-spectrum.org/collections/24

Other collections don't crash so this must be a validation/error catching oversight.

[2022-09-21 07:47] corneliusroemer commented on #602
For this query:
<img width="447" alt="image" src="https://user-images.githubusercontent.com/25161793/191446144-89aaa4f7-e2c3-407f-8208-9357b4a0846f.png">
with aaMutations
[code]

[2022-09-21 09:30] corneliusroemer opened #603 "ENH: Switch default lineage tab to Nextclade, in line with search default"
With GISAID pango lineages very out of date and the shift to default lineage search to Nextclade, it would be good to also shift the tab to Nextclade by default:

<img width="2089" alt="image" src="https://user-images.githubusercontent.com/25161793/191469270-3ec1825b-ed7d-4d89-9098-e705443309b0.png">

And the `(pangolin)` should probably be replaced with `pangoLEARN` to be precise - Usher would gi

[2022-09-21 09:50] chaoran-chen commented on #602
I fixed the collection by correcting the mutation query and will work on the issue that crashes the whole collection later.

[2022-09-21 09:54] chaoran-chen commented on #603
Re. default: sure, I can change that.

Re. writing "pangoLEARN": but for the open version, we take the preprocessed data from Nextstrain, and there, it's UShER? And another problem is that we won't get informed if GISAID should decide to switch to UShER.

[2022-09-21 09:58] corneliusroemer commented on #603
Correct, it's Usher for Genbank.

I will inform you if GISAID switches, it's visible in the webapp.

[2022-09-21 20:47] #602 closed, assigned to chaoran-chen

[2022-09-21 20:50] #603 closed, assigned to chaoran-chen

[2022-09-21 20:51] chaoran-chen commented on #603
I resolved the first part of the issue which is consistent with the title. Feel free to create a new issue for the second part which I might address at a later time.

[2022-09-21 20:57] #601 closed, assigned to chaoran-chen

[2022-09-22 02:06] murallcl commented on #596
Hi all, would it be possible to have these Collections tables downloadable as a csv right off the page?
e.g. you choose a baseline, it generates the table, and then you can export it with a csv button? thanks

[2022-09-22 09:59] corneliusroemer opened #605 "ENH: Add country/date to open data strain names"
It's great that one can download open data fastas.

It would be great if the FASTA ID contained a bit more metadata, things like country, date, etc - right now it's accession only which makes it much less useful.

See screenshot:

<img width="1358" alt="image" src="https://user-images.githubusercontent.com/25161793/191718086-1f7b452f-7b98-4912-afc6-28e3f0a2479f.png">

[2022-09-24 09:17] chaoran-chen opened #607 "Mutation overview in collections"
**Aim:** It should be easier to get an overview of the mutations of the variants in a collection.

**Idea:** A new tab "mutations" should be added to the collection pages. It should contain a table with the following columns if no baseline is selected:

- \>90% (which contains fixed mutations/mutations that occur in more than 90% of the sequences)
- 60-90%
- 30-60%
- 5-30%
- "See all"-button that

[2022-09-24 09:22] chaoran-chen opened #608 "Pango lineage relationship tree"
When comparing only Pango lineages, we could show a small tree to visualize their relationships.

For example, if the user is comparing B.1.1.7, BA.1, and BA.2.75 ([see here](https://cov-spectrum.org/explore/World/AllSamples/AllTimes/variants?nextcladePangoLineage=B.1.1.7*&nextcladePangoLineage1=BA.1*&nextcladePangoLineage2=BA.2.75*&analysisMode=CompareEquals&)), we would show:

[code]

**Potentia

[2022-09-25 13:58] ryhisner opened #609 "Percentage of sequences in (many) lineages with a given mutation or set of mutations"
CovSpectrum is by far the best site in existence for analyzing SARS-CoV-2 genomic data, and it keeps getting better. There is only one thing I still have to go to a different website (Outbreak.info) to find: a list of the different lineages that have a given mutation (or set of mutations) including the percentage of sequences in that lineage that possess that mutation. You can do this one lineage

[2022-09-25 15:58] #583 closed, assigned to chaoran-chen

[2022-09-26 12:36] #590 closed, assigned to anastasia-escher

[2022-09-28 08:36] chaoran-chen commented on #596
Regarding importing/updating a collection, let me just document the API here for now because it still might be changed.

After creating a collection, it can be updated by sending a `PUT` request to the following URL:

[code]

with the following body:

[code]

The `highlighted` field corresponds to the star. The `query` field contains a **JSON as string**. It defines either a normal search and can

[2022-09-29 15:46] corneliusroemer commented on #588
It would be really useful if we could "nowcast" the bias away to some extent - these growth advantages are great but the bias is harming their usefulness.

What's the best way to put yourself in the shoes of: data available up to day X? Is there a URL parameter one can attach to not see data that came in after day X?

[2022-10-03 11:09] corneliusroemer opened #610 "ENH: Submission date filter, submission delay filter and clock-filter metric"
Date errors are a big problem when investigating when the first sequence was found. When there are millions of Omicrons, the earliest are inevitably data entry error. See this, there are 700 Omicrons before there could have possibly been one.

<img width="2063" alt="image" src="https://user-images.githubusercontent.com/25161793/193562430-ffb80b4b-30de-425c-a871-2a6d4132022a.png">

It would be grea

[2022-10-03 11:19] chaoran-chen commented on #610
Thanks for the suggestions, @corneliusroemer! For the submission date filter, we already have #581 but the other aspects are new!

[2022-10-03 11:26] corneliusroemer commented on #610
In particular the submission delay could be super useful as it doesn't need to be readjusted with different periods. Could be something like 6 months by default, that would keep most sequences but get rid of most date errors :)

[2022-10-03 11:39] corneliusroemer opened #611 "ENH: Make "now" not "now" but "now - 1 week" in past month etc. periods"
The covSpectrum date default selection currently goes till today which has the consequence of showing _very_ noisy periods that should probably better be hidden.

Nothing would be lost by showing data only till "today - 1 week", this would also fix the fact that we often see 0-100% in the number on the right (h/t @emmahodcroft)
<img width="1659" alt="image" src="https://user-images.githubuserconte

[2022-10-03 11:41] emmahodcroft commented on #611
This was brought up because I always get confused when I have a graph (or something like a graph) but then it says 0% on the right - makes me double-take because I wonder if I've misunderstood if there's no data or some data.

I'd also suggest maybe adding in small font below the "0.0% Proportion 0.0-100.0% confidence int" the total number of sequences in the graph - just lets one do a very quick

[2022-10-04 22:36] #611 closed, assigned to chaoran-chen

[2022-10-04 22:37] chaoran-chen commented on #611
Thanks for the suggestion! I implemented it. I also changed the preview plots on the left side to ignore one week of data.

[2022-10-05 06:49] corneliusroemer commented on #611
Thank you so much :)

[2022-10-05 06:50] corneliusroemer commented on #611
Excellent, much better! We should think about whether making it 10 days rather than 7 could be better. The most recent data is so unreliable and sparse. But this is easy to change, I can play around with a PR myself ;)

<img width="1672" alt="image" src="https://user-images.githubusercontent.com/25161793/193998352-ca549b86-adde-40a8-b45d-071bd5f1574c.png">

[2022-10-05 09:48] emmahodcroft commented on #611
This is great, thanks @chaoran-chen !

[2022-10-12 19:46] murallcl commented on #596
Thanks for add this feature! :)

[2022-10-12 20:16] chaoran-chen commented on #596
@murallcl, thanks for suggesting it!

[2022-10-13 03:28] Mike-Honey opened #614 "Lineage XAN* (Nextclade) seems to include too many sequences?"
Apologies if this is should be addressed to Nextclade.

I noticed the XAN* (Nextclade) lineage is reporting 37K+ sequences, which seems too high.
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?nextcladePangoLineage=XAN*

From the pango designation discussion, I was expecting under 100:
https://github.com/cov-lineages/pango-designation/issues/771

Searching for the GISAID query:

[2022-10-13 08:29] chaoran-chen commented on #614
Hi @Mike-Honey, I think that this should indeed be addressed to Nextclade.

Ping @corneliusroemer, @ivan-aksamentov

[2022-10-13 11:52] corneliusroemer opened #615 "Making figures more suitable for screenshot usage"
covSpectrum is so amazing, it's the most reliable and sophisticated tool to plot how variants are growing in various countries.

Unfortunately, the plots are not great for screenshot usage at the moment.

Main problem: they are too dashboardy, assume that one sees the whole screen.

But if you take a screenshot you need the figure to be dense: we're missing:
a) Title
b) Information on exact query

[2022-10-13 12:03] chaoran-chen commented on #615
Hi @corneliusroemer! I agree that print-oriented plots would be really nice to have. Ideally, I'd like to offer both versions directly on the website and I've been thinking about ways to implement it for a while. It's just that this is, unfortunately, a bigger task and without additional support, I don't think that we will be able to tackle it anytime soon.

[2022-10-13 12:08] corneliusroemer commented on #615
Great to hear this is not just my personal crazy idea :)

I feel like setting this up as an integration may be simpler for some outside contributors. We could try to ask for it via Twitter? Maybe someone will be interested to help? This should actually be quite easy for a large number of data scientists who are good at making graphs from the data. The hard part is the data but it's already all the

[2022-10-13 13:12] chaoran-chen commented on #615
We would need a server with a web API that accepts the data from the client and returns a plot. This should indeed be quite doable as a separate project.

I'll think a bit more about it.

[2022-10-13 21:44] corneliusroemer opened #616 "BUG: Toggling scale in international overview page resets selected countries"
See GIF

![2022-10-13 23 43 12](https://user-images.githubusercontent.com/25161793/195716716-aa1e3b92-7d6d-419b-884f-a6fcef9b4fdf.gif)

[2022-10-14 00:21] corneliusroemer opened #617 "BUG: Bin deletes query in row below, not in same row"
![2022-10-14 02 20 58](https://user-images.githubusercontent.com/25161793/195734913-a378b42b-d151-4fe5-b2c6-984e3de4dabe.gif)

[2022-10-14 09:49] corneliusroemer opened #618 "BUG: Copied mutations are wrongly ordered in Venn mutation chart"
I love the Venn mutation charts, super useful

Unfortunately when I click to copy the mutations to clipboard, they are no longer correctly ordered by position

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/25161793/195810951-d7634f18-a567-492e-a6c5-19101637d259.png">

ORF9b:P10F,S:H69-,S:V70-,S:V213G,S:G339D,S:F486V,S:K444T,ORF1b:M1156I,ORF1b:Y264H,ORF1b:N1191S,ORF1a

[2022-10-17 09:06] chaoran-chen opened #619 "Stable color assignments in plots"
In plots with multiple lines (variant comparison and international comparison), the colors are currently randomly assigned and change upon every reload. Even worse, when we use the "show regions" function to see a grid of plots, the color assignments are different for each plot (see screenshot below). In addition, there is no mechanism that tries to make the colors as distinguishable as possible.

[2022-10-17 11:31] corneliusroemer commented on #614
Crosspost answer from https://github.com/nextstrain/nextclade/issues/1022

[2022-10-17 11:32] corneliusroemer commented on #614
To address this, we may want to set the default to 0.9 coverage maybe @chaoran-chen?

[2022-10-17 12:15] corneliusroemer commented on #619
Yep, that'd be amazing - I've also thought about this (and maybe even mentioned it?) in the past.

Would be good to have a proper legend embedded as well - the tooltip is not great for screenshot graphs

[2022-10-17 16:45] corneliusroemer opened #620 "ENH: Allow reordering of queries in collection"
The order of queries is quite important if you want plots to have a logical succession like in this case:
<img width="2450" alt="image" src="https://user-images.githubusercontent.com/25161793/196235556-728a571a-53b1-446c-882e-dca5fb633b30.png">

Unfortunately, it's not possible (it seems) to reorder queries. One cannot insert things at the top. Which is a bit of a shame as there doesn't seem to be

[2022-10-17 22:23] AnonymousUserUse opened #621 "BUG: Advanced query not working with nextstrainClade:recombinant"
I've noticed that the advanced query mode seems not to function with nextstrainClade:recombinant while recombinant (Nextstrain clade) works fine with them.

This works:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?nextstrainClade=recombinant&

But this doesn't:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery=nextstrainClade%3Arecombinant&

[2022-10-17 22:57] AnonymousUserUse opened #622 "ENH: shorten the interval that data is used in collection or allow users to set the interval"
I suppose either to shorten the interval that data is used in collection from the past 6 months to the past 2 months, or to allow users to select the interval that data is used, or both (enable to select the interval with default past 2 months).

Reason: considering the fact that the circulating variant (even with chosen baseline) changes quickly, growth advantage six months ago is not really mean

[2022-10-17 23:52] corneliusroemer commented on #622
I agree, I've been bothered by this in the past as well.

Maybe the reason for a preset interval is to not overload the server. In that case, a few presets would do - as opposed to letting the user choose freely which would create a lot of queries.

But regions are freely settable, so this doesn't quite explain. Maybe just to keep things simple while prototyping.

[2022-10-17 23:52] corneliusroemer commented on #621
Yep, noticed this, too. Would be nice if recombinant worked as a clade.

[2022-10-18 07:55] chaoran-chen commented on #621
thanks for the suggestion! I'll put it onto the todo list.

[2022-10-18 07:57] chaoran-chen commented on #622
Thanks for the suggestion! We already have a plan to add a date filter (#518). I hope that it will be released soon.

[2022-10-18 07:57] #622 closed, assigned to nobody

[2022-10-18 08:00] chaoran-chen commented on #620
Thanks for the suggestion! This is a duplicate of #523 and #596 - they are on the top of my list.

[2022-10-18 08:00] #620 closed, assigned to nobody

[2022-10-18 10:09] corneliusroemer commented on #620
Oh ok, not aware 😬

I was very happy to see the issue closed with purple check (meaning completed) - I'm closing as not planned/duplicate now to make it clear it's a duplicate

[2022-10-21 12:24] corneliusroemer opened #625 "BUG: Alias not showing for Nextclade lineages, only for pangoLEARN/GISAID"
I've noticed that the "Alias for" doesn't show for Nextclade, only for pangoLEARN

<img width="979" alt="image" src="https://user-images.githubusercontent.com/25161793/197194953-74fc5216-7945-4a05-824d-13dde671c63e.png">

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/25161793/197194956-2ce6f235-8140-4a4a-af0d-7553cd668ae4.png">

[2022-10-21 12:25] corneliusroemer opened #626 "BF* query should show all BA.5.2.1*, not BA.5.2.1* & !BA.5.2.1"
I've noticed that queries that specify just an alias and no dot are equivalent to the children of the alias.

This is counterintuitive, as say BF = BA.5.2.1, so BF* should be like BA.5.2.1

What you do in practice seems to be: BF* = BA.5.2.1* & ! BA.5.2.1

[2022-10-21 12:57] chaoran-chen commented on #625
That's a duplicate of #586 :)

[2022-10-21 12:57] #625 closed, assigned to nobody

[2022-10-21 17:58] AnonymousUserUse opened #627 "BUG: "unassigned" not working"
I wonder how many sequences are classified as "unassigned" by pangoLEARN. That is for the comparison/query between pangoLEARN and Nextclade (e.g. unassigned & nextcladePangoLineage:XAN) meaningful.

Both simple module and advanced query do not work for unassigned:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?pangoLineage=Unassigned& shows 0 sequence;
https://cov-spectrum.org/e

[2022-10-21 20:11] corneliusroemer commented on #627
These probably are Spike only sequences for which the current dataset used
by Nextclade doesn't work reliably either.

Spike only is not assigned by pangolin.

Nextclade has issues as well if the breakpoint is not in Spike.

We'll fix this in Nextclade at some point.

For now the workaround is to use the dedicated sars-cov-2-no-recomb
dataset, then things work out for Spike only (common in South K

[2022-10-24 11:28] chaoran-chen opened #628 "Absolute number of sequences plot should not show CIs"
The absolute sequences over time line plot is showing a strange CI which does not make any sense.

![image](https://user-images.githubusercontent.com/18666552/197515480-84d30f8e-949c-43d3-8ee9-179f699365eb.png)

[2022-10-26 09:40] #518 closed, assigned to anastasia-escher

[2022-10-27 07:19] #628 closed, assigned to anastasia-escher

[2022-10-27 07:21] #618 closed, assigned to anastasia-escher

[2022-10-27 13:00] #617 closed, assigned to anastasia-escher

[2022-10-27 17:07] corneliusroemer commented on #621
I think I must have dreamed about this working: tried it out, didn't work, checked status and it's on todo :)

[2022-10-27 17:23] AnonymousUserUse commented on #621
Me too. When can I expect that this will work?

[2022-10-29 16:52] #621 closed, assigned to nobody

[2022-11-01 15:15] AnonymousUserUse opened #633 "ENH: apply Nextclade algorithm to the whole query without repeating nextcladePangoLineage"
For example, if we want to view all Delta + Omicron recombinants,
the standard query with pangoLEARN is: `XD* | XF* | XS* | XAW* | XAY* | XBA* | XBC*`;
the query using Nextclade to identify lineages is: `nextcladePangoLineage:XD* | nextcladePangoLineage:XF* | nextcladePangoLineage:XS* | nextcladePangoLineage:XAW* | nextcladePangoLineage:XAY* | nextcladePangoLineage:XBA* | nextcladePangoLineage:XBC

[2022-11-01 22:45] corneliusroemer commented on #633
Very nice idea to overwrite the default like an environment variable @AnonymousUserUse!

I agree that it'd be great if it wasn't necessary to add `nextcladePangoLineage` every time.

[2022-11-02 21:13] #586 closed, assigned to anastasia-escher

[2022-11-02 21:16] #616 closed, assigned to anastasia-escher

[2022-11-03 09:46] chaoran-chen opened #636 "Use Github to store collections data"
Instead of storing the collections data in an internal database, the CoV-Spectrum server could store them in a public repository on Github. This has a lot of advantages:

1. Easy to download/clone the data
2. Versioning
3. People can also use pull requests to (bulk) update data. For authentication, we could maybe say that Github handles mentioned in the "maintainer" field (or a separate field) of

[2022-11-06 16:25] AnonymousUserUse opened #637 "BUG: notation that a position is not mutated (such as S:501.) does not work in advanced query"
.-notation for a non-mutated position (such as S:501.) works in simple module:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?aaMutations=S%3A501.

but nor in advanced query:
https://cov-spectrum.org/explore/World/AllSamples/Past6M/variants?variantQuery=S%3A501.&

The same applies to nucleotide mutation.

[2022-11-07 06:29] chaoran-chen commented on #637
Hi @AnonymousUserUse, that's indeed missing and still on the todo list. I'm just closing this issue as it is a duplicate of #439.

[2022-11-07 06:30] #637 closed, assigned to nobody

[2022-11-10 08:45] chaoran-chen commented on #581
For the URL, I suggest adding:

If a special date range is selected: `dateSubmitted=Past6M`

If a fixed date range is selected: `dateSubmittedFrom=2021-08-01&dateSubmittedTo=2021=09-28`, it should also be possible to only set `dateSubmittedFrom` or only `dateSubmittedTo` if the date range is open on one end.

[2022-11-10 16:29] corneliusroemer commented on #581
This would be such an amazingly useful feature - thanks for working on it @chaoran-chen and @anastasia-escher 😍

[2022-11-22 14:34] #619 closed, assigned to chaoran-chen

[2022-11-22 14:34] #615 closed, assigned to chaoran-chen

[2022-11-22 16:05] chaoran-chen opened #643 "Align sorting for color assignment with ppretty"
With the implementation of #619, we sort the labels of the data series of plots with multiple lines ([code](https://github.com/cevo-public/cov-spectrum-website/blob/fa9a251b66a3312e820b9230587cc8f8f59cf12f/src/helpers/colors.ts#L27)) and assign colors based on their order. We(already) assign the same colors as ppretty.

However, JavaScript and R don't always sort strings in the same way:

[code]

[2022-11-25 15:46] corneliusroemer opened #645 "Show lineages over time in time view similar to mutations"
Right now I can't think of a simple way to evaluate relative growth of sublineages of a lineage other than to type them all out manually and compare to baseline.

It could be a nice feature to make a view of sublineages similar to how mutations are shown over time:
<img width="1398" alt="image" src="https://user-images.githubusercontent.com/25161793/204018413-5d10e644-64f9-4eab-8ffe-c3d6b98e1477.p

[2022-11-25 19:52] #598 closed, assigned to anastasia-escher

[2022-11-26 14:02] focosi-cyber opened #647 "Possibility to screen for transition/transversion ratio higher than x"
As you may be aware, Ryan Hisner has identified several Omicron sequences that have unusually high transition:transversion ratios, spread along the entire genome. This is likely a hallmark of molnupiravir-induced mutagenesis. With 99.9% of GISAID sequences sampled at diagnosis as opposed to after-therapy, identifying some of such hyper mutated lineages could mean they were fit enough to spread, wi

[2022-11-28 12:51] corneliusroemer opened #648 "ENH: Option to use covSpectrum in `submission date mode` by simple extension to LAPIS"
I know you're working on the submission date filters.

This could be a more broadly useful feature.

Here's an example: Because some countries submit much faster than others, if you calculate world wide growth advantages, there's a huge bias towards things circulating in countries that are fast at circulating, e.g. BQ.1.1.20 in Denmark which isn't the fastest thing around worldwide, it's so high u

[2022-11-28 12:52] corneliusroemer commented on #648
Here is BQ.1.1.20 in Denmark, as you can see, the growth advantage is much more realistic

<img width="1708" alt="image" src="https://user-images.githubusercontent.com/25161793/204282387-7cd1c789-7c49-421e-914e-9d2651007e86.png">

I'd expect submission growth advantages to be generally less biased by submission speed - this could be very useful.

[2022-11-28 14:05] FedeGueli commented on #648
Agree even if it could be counter intuitive at first glance, thanks to.the Cormelius intuition we are testing it since a couple of months and it is very sensitive: we were able to understand earlier that some bf.7.sublimeage growth wasnt so high or tp catch very early the ba.2.75 comeback.

I suggest further to add to collection charts a "8 doubling time column" (from 25 to 200 50 to 400 and so on

[2022-11-29 16:06] corneliusroemer opened #649 "ENH: Beefed up lineage display, similar to mutation table with jaccard"
When I investigate a mutation, say S:185D, I like that it shows me which lineages are contained in the query:
<img width="2143" alt="image" src="https://user-images.githubusercontent.com/25161793/204579746-69d00175-b502-4ca1-9c21-9d7aec22266f.png">

This is useful, it gives me ideas for lineages to query and understand whether the mutation has popped up homoplasically or not.

Now I feel like this